<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Titre de votre annonce
                    <small>{{ form_help(form.name) }}</small>
                </h2>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_label(form.name) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {{ form_errors(form.name) }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        {{ form_label(form.duration) }}
                        <div class="form-group">
                            <div class="form-line">
                                Jours
                                {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.duration) }}</div>
                            {{ form_errors(form.duration) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        {{ form_label(form.amountDay) }}
                        <div class="form-group">
                            <div class="input-group spinner" data-trigger="spinner">
                                <div class="form-line">
                                    {{ form_widget(form.amountDay, {'attr': {'class': 'form-control', 'data-rule': 'currency', 'data-min': 100, 'data-step': 50, 'data-precision': 0}}) }}
                                </div>
                                <div class="help-info">{{ form_help(form.amountDay) }}</div>
                                <span class="input-group-addon">
                                    <a href="javascript:;" class="spin-up" data-spin="up"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="javascript:;" class="spin-down" data-spin="down"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                </span>
                            </div>
                            {{ form_errors(form.amountDay) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>