<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Formule à utiliser
                    <small>Il s'agit des avantages liés à votre annonce une fois publiée</small>
                </h2>
            </div>
            <div class="body">
                <div class="row">
                   {% for formule in form.formule %}
                        <div class="col-xs-12 col-sm-3">
                            {{ form_widget(formule, {'attr': {'class': 'with-gap radio-col-light-blue'}}) }}
                            {{ form_label(formule) }}
                        </div>
                    {% endfor %}
                    {% for formule in formules %}
                        <div class="col-xs-12 col-sm-3 ad-formule">
                            <div class="thumbnail">
                                <img src="{{ vich_uploader_asset(formule, 'imageFile') }}" class="img-responsive" alt="{{ formule.name }}">
                                <div class="caption text-center">
                                    <h3 class="text-uppercase">{{ formule.name }}</h3>
                                    <p>
                                        {{ formule.summary|raw }}
                                    </p>
                                    <p class="text-center">
                                        <a href="{{ formule.url }}" target="_blank" class="btn btn-primary waves-effect" role="button">DETAILS</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {{ form_errors(form.formule) }}
                </div>
            </div>
        </div>
    </div>
</div>