{# form annonce - genérique #}
{{ include('account/fragments/form/ad/general.html.twig', {'form': form}) }}
{# form annonce - genérique #}

{# infos propriété #}
{{ include('account/pages/thing/studio/infos.html.twig', {'thing': thing}) }}
{# infos propriété #}

{# extra form #}
{{ include('account/fragments/form/ad/other.html.twig', {'form': form, 'formules': formules}) }}
{# extra form #}