{% extends 'base_account.html.twig' %}

{% block title %}Annonce Studio{% endblock %}

{% block acc_body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>State</th>
                <th>PublishDate</th>
                <th>ExpireDate</th>
                <th>Duration</th>
                <th>CreateDate</th>
                <th>WriteDate</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce_studio in annonce_studios %}
            <tr>
                <td>{{ annonce_studio.id }}</td>
                <td>{{ annonce_studio.name }}</td>
                <td>{{ annonce_studio.slug }}</td>
                <td>{{ annonce_studio.state }}</td>
                <td>{{ annonce_studio.publishDate ? annonce_studio.publishDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_studio.expireDate ? annonce_studio.expireDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_studio.duration }}</td>
                <td>{{ annonce_studio.createDate ? annonce_studio.createDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_studio.writeDate ? annonce_studio.writeDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_studio.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('annonce_studio_show', {'id': annonce_studio.id}) }}">show</a>
                    <a href="{{ path('annonce_studio_edit', {'id': annonce_studio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
