{% extends 'account/pages/base_account_form.html.twig' %}

{% block title %}Création annonce - studio{% endblock %}

{% block acc_header %}
    Création annonce - studio
{% endblock %}


{% block acc_body %}
    {{ form_start(form, {'attr': {'class': 'acc-form'}}) }}
        <div class="row acc-alert">
            <div    class="col-xs-12 m-b-15 text-right">
                <button type="submit" class="btn btn-primary text-uppercase m-r-5">
                    <i class="material-icons">save</i><span>ENREGISTRER</span>
                </button>
                <a href="{{ path('annonce_index') }}" class="btn col-black m-r-5">
                    <i class="material-icons">list</i><span>AFFICHER LA LISTE</span>
                </a>
            </div>
        </div>
        {# form #}
        {{ include('account/pages/ad/annonce_studio/_form.html.twig') }}
        {# form #}

    {{ form_end(form) }}
{% endblock %}