{% extends 'base_account.html.twig' %}

{% block title %}Annonce Chambre{% endblock %}

{% block acc_body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>State</th>
                <th>PublishDate</th>
                <th>ExpireDate</th>
                <th>Duration</th>
                <th>CreateDate</th>
                <th>WriteDate</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce_chambre in annonce_chambres %}
            <tr>
                <td>{{ annonce_chambre.id }}</td>
                <td>{{ annonce_chambre.name }}</td>
                <td>{{ annonce_chambre.slug }}</td>
                <td>{{ annonce_chambre.state }}</td>
                <td>{{ annonce_chambre.publishDate ? annonce_chambre.publishDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_chambre.expireDate ? annonce_chambre.expireDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_chambre.duration }}</td>
                <td>{{ annonce_chambre.createDate ? annonce_chambre.createDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_chambre.writeDate ? annonce_chambre.writeDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_chambre.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('annonce_chambre_show', {'id': annonce_chambre.id}) }}">show</a>
                    <a href="{{ path('annonce_chambre_edit', {'id': annonce_chambre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
