{% extends 'account/pages/base_account_show.html.twig' %}


{% block acc_msg %}
{{ parent()}}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        La modification d'une propriété déjà publiée peut entraîner la suspension temporaire de sa diffusion, pour une validation.
</div>
{% endblock %}

{# actions #}
{% block acc_body_actions %}

{% block acc_body_actions_plus %}
{% endblock %}
{# retour à la liste #}
<a href="{{ path('my_things') }}" class="btn col-black m-r-5">
    <i class="material-icons">list</i><span>AFFICHER LA LISTE</span>
</a>
{# retour à la liste #}

{# supprimer #}
<button type="button" class="btn acc-btn-del" data-type="confirm">
    <i class="material-icons">delete</i><span>SUPPRIMER</span>
</button>
{# supprimer #}
{% endblock %}
{# actions #}