{% extends 'account/pages/base_account_index.html.twig' %}

{% block acc_style %} 
{{ parent() }}
<link href="{{ asset('addons/account/plugins/light-gallery/css/lightgallery.css') }}" rel="stylesheet">
{% endblock %}

{% block acc_body %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    MES PROPRIETES
                    <small>Gérez l'ensemble de vos propriétés</small>
                </h2>
            </div>
            <div class="body">
                <div class="row">
                    {% for categorie in categories %}
                        {% if categorie.active %}
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    {% if categorie.imageFile is defined and categorie.image.name %}
                                        <img src="{{ vich_uploader_asset(categorie, 'imageFile') }}" alt="{{ categorie.name }}" class="img-fluid">
                                    {% else %}
                                        <img src="{{ asset('500x300.png') }}">
                                    {% endif %}
                                    <div class="caption">
                                        <h3>{{ categorie.name }}</h3>
                                        <p>
                                            {{ categorie.description|trim|raw }}
                                        </p>
                                        <p class="text-center text-uppercase">
                                            <a href="{{ path(categorie.url) }}" class="btn btn-primary btn-small waves-effect" role="button">Ajouter</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    MES PROPRIETES
                    <small>Liste de toutes vos propriétés</small>
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover {% if things|length %} acc-table {% endif %} dataTable">
                        <thead>
                            <tr>
                                <th data-orderable="false">Photos</th>
                                <th>Nom</th>
                                <th>Operation</th>
                                <th>Date création</th>
                                <th>Date disponibilité</th>
                                <th data-orderable="false"></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th data-orderable="false">Photos</th>
                                <th>Nom</th>
                                <th>Operation</th>
                                <th>Date création</th>
                                <th>Date disponibilité</th>
                                <th data-orderable="false"></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for thing in things %}
                            <tr>
                                <td>
                                    {% include 'account/fragments/show/mini_slide.html.twig' with {'thing': thing} %}
                                </td>
                                <td>{{ thing.name|slice(0, 25) }}</td>
                                <td>{{ thing.operation }}</td>
                                <td>{{ thing.createDate ? thing.createDate|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ thing.dateDisponibilite ? thing.dateDisponibilite|date('Y-m-d') : '' }}</td>
                                <td>
                                    <a href="{{ path(thing.showRoute, {'id': thing.id}) }}" class="m-r-4">
                                        VOIR
                                    </a>
                                    |
                                    <a href="{{ path(thing.editRoute, {'id': thing.id}) }}" class="m-r-4">
                                        MODIFIER
                                    </a>
                                </td>
                            </tr>
                            {% else %}
                                <tr>
                                    <td colspan="16">No records found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block acc_js %} 
{{ parent() }}
<script src="{{ asset('addons/account/plugins/light-gallery/js/lightgallery-all.js') }}"></script>
<script src="{{ asset('addons/account/js/pages/medias/image-gallery.js') }}"></script>
{% endblock %}
