{% extends 'account/pages/base_account_form.html.twig' %}

{% block title %}Edition annonce - immeuble{% endblock %}

{% block acc_body %}
    {{ form_start(form, {'attr': {'class': 'acc-form'}}) }}
        <div class="row acc-alert">
            <div    class="col-xs-12 m-b-15 text-right">
                <button type="submit" class="btn btn-primary text-uppercase m-r-5">
                    <i class="material-icons">save</i><span>ENREGISTRER</span>
                </button>
                <a href="{{ path('annonce_immeuble_show', {'id': annonce.id}) }}" class="btn btn-primary m-r-5">
                    <i class="material-icons">sync</i><span>VERIFIER ET PUBLIER</span>
                </a>
                <a href="{{ path('annonce_index') }}" class="btn col-black m-r-5">
                    <i class="material-icons">list</i><span>AFFICHER LA LISTE</span>
                </a>
                <button type="button" class="btn acc-btn-del" data-type="confirm">
                    <i class="material-icons">delete</i><span>SUPPRIMER</span>
                </button>
                {#  nouvelle annonce pour la même propriété #}
                <a href="{{ path('annonce_immeuble_new', {'id': thing.id}) }}" class="btn col-black m-r-5">
                    <i class="material-icons">add</i><span>NOUVELLE ANNONCE</span>
                </a>
            </div>
        </div>
        {# form #}
        {{ include('account/pages/ad/annonce_immeuble/_form.html.twig') }}
        {# form #}

    {{ form_end(form) }}
{% endblock %}

{% block del_form %}
    {{ include('account/pages/ad/annonce_immeuble/_delete_form.html.twig') }}
{% endblock %}