{% extends 'base_account.html.twig' %}

{% block title %}Annonce Immeuble{% endblock %}

{% block acc_body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>State</th>
                <th>PublishDate</th>
                <th>ExpireDate</th>
                <th>Duration</th>
                <th>CreateDate</th>
                <th>WriteDate</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce_immeuble in annonce_immeubles %}
            <tr>
                <td>{{ annonce_immeuble.id }}</td>
                <td>{{ annonce_immeuble.name }}</td>
                <td>{{ annonce_immeuble.slug }}</td>
                <td>{{ annonce_immeuble.state }}</td>
                <td>{{ annonce_immeuble.publishDate ? annonce_immeuble.publishDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_immeuble.expireDate ? annonce_immeuble.expireDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_immeuble.duration }}</td>
                <td>{{ annonce_immeuble.createDate ? annonce_immeuble.createDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_immeuble.writeDate ? annonce_immeuble.writeDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_immeuble.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('annonce_immeuble_show', {'id': annonce_immeuble.id}) }}">show</a>
                    <a href="{{ path('annonce_immeuble_edit', {'id': annonce_immeuble.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
