{% extends 'account/pages/ad/ads/base_ad_show.html.twig' %}

{% block acc_body_actions_plus %}
    {# modifier #}
    <a href="{{ path('annonce_immeuble_edit', {'id': annonce.id}) }}" class="btn col-black m-r-5">
        <i class="material-icons">mode_edit</i><span>MODIFIER</span>
    </a>
    {# modifier #}
{% endblock %}

{% block acc_body %}
    {# ad infos #}
    {{ include('account/fragments/show/ad_show.html.twig', {'annonce': annonce}) }}
    {# ad infos #}

    {# thing infos #}
    {{ include('account/pages/thing/immeuble/infos.html.twig', {'thing': thing}) }}
    {# thing infos #}

    {# delete form #}
    {{ include('account/pages/ad/annonce_immeuble/_delete_form.html.twig') }}
    {# delete form #}

{% endblock %}
