<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Informations sur la propriété
                    <small>Informations générales sur votre propriété</small>
                </h2>
            </div>
            <div class="body">
                <ul class="list-unstyled">
                    {% if thing.name is defined and thing.name %}
                    <li>Propriété: {{ thing.name }}<hr></li>
                    {% endif %}
                    {% if thing.operation is defined and thing.operation %}
                    <li>Opération: <span class="text-capitalize">{{ thing.operation }}</span><hr></li>
                    {% endif %}
                    {# logements #}
                    {% if thing.largeur is defined and thing.largeur %}
                    <li>Largeur: {{ thing.largeur }} m<hr></li>
                    {% endif %}
                    {% if thing.longueur is defined and thing.longueur %}
                    <li>Longueur: {{ thing.longueur }} m<hr></li>
                    {% endif %}
                    {% if thing.superficie is defined and thing.superficie %}
                    <li>Superficie: {{ thing.superficie }} m<sup>2</sup><hr></li>
                    {% endif %}
                    {% if thing.perimetre is defined and thing.perimetre %}
                    <li>Périmètre: {{ thing.perimetre }} m<hr></li>
                    {% endif %}
                    {# logements #}

                    {# general #}
                    {% if thing.dateDisponibilite is defined and thing.dateDisponibilite %}
                    <li>Date de disponibilité: {{ thing.dateDisponibilite? thing.dateDisponibilite|date('d-m-Y') : '' }}<hr></li>
                    {% endif %}
                    {# general #}
                </ul>
            </div>
        </div>
    </div>
</div>