<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info bg-light-blue">
        <div class="image">
            <img src="{{ asset('addons/account/images/user.png') }}" width="48" height="48" alt="User" />
        </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if app.user.type == 'PARTICULIER' %}
                  {{ app.user.prenom }} {{ app.user.nom }} 
                {% elseif app.user.type == 'ENTREPRISE' %}
                  {{ app.user.nom }} 
                {% else %}
                  {{ app.user.email }}
                {% endif %}
            </div>
            <div class="email">{% if app.user.type in ['PARTICULIER', 'ENTREPRISE'] %} {{ app.user.email }} {% endif %}</div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">email</i>Messages</li>
                    <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Favoris</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ path('app_logout') }}"><i class="material-icons">input</i>Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li>
                <a href="{{ path('app_account') }}">
                    <i class="material-icons">web</i>
                    <span>Tableau de bord</span>
                </a>
            </li>
            <li class="header text-uppercase">Gestion des contenus</li>
            <li>
                <a href="{{ path('my_things') }}">
                    <i class="material-icons">work</i>
                    <span>Mes propriétés</span>
                </a>
            </li>
            <li>
                <a href="{{ path('annonce_index') }}">
                    <i class="material-icons">shop</i>
                    <span>Annonces</span>
                </a>
            </li>
            <!-- <li>
                <a href="#">
                    <i class="material-icons">mail</i>
                    <span>Messages</span><span class="badge bg-red col-white">14</span>
                </a>
            </li> -->
            <li class="header text-uppercase">Gestion du compte</li>
            <li>
                <a href="{{ path('acc_profile') }}">
                    <i class="material-icons">person</i>
                    <span>Profile</span>
                </a>
            </li>
            <!-- <li class="header text-uppercase">Facturation & Formules</li>
            <li>
                <a href="#">
                    <i class="material-icons">card_membership</i>
                    <span>Mes formules</span>
                </a>
                <a href="#">
                    <i class="material-icons">payment</i>
                    <span>Factures</span>
                </a>
            </li> -->
            <li class="header text-uppercase">Site</li>
            <li>
                <a href="{{ path('home') }}">
                    <i class="material-icons">public</i>
                    <span>Afficher le site</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
</aside>