{{ form_start(resetPwdForm, {'attr': {'id': 'acc-reset-pwd-form', 'class': 'acc-form form-horizontal'}}) }}
    {{ form_errors(resetPwdForm) }}
    <div class="form-group">
        {{ form_label(resetPwdForm.oldPassword, "Mot de passe actuel", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            <div class="form-line">
                {{ form_widget(resetPwdForm.oldPassword, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(resetPwdForm.oldPassword) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(resetPwdForm.plainPassword['first'], "Nouveau mot de passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            <div class="form-line">
                {{ form_widget(resetPwdForm.plainPassword['first'], {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(resetPwdForm.plainPassword['first']) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(resetPwdForm.plainPassword['second'], "Confirmation du nouveau mot de passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            <div class="form-line">
                {{ form_widget(resetPwdForm.plainPassword['second'], {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(resetPwdForm.plainPassword['second']) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-lg btn-primary text-uppercase">Enregistrer</button>
        </div>
    </div>
{{ form_end(resetPwdForm) }}