/* https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=c2185b&secondary.color=18ffff */

@font-face{ 
	font-family:'hp-simplified-light';
	src: url('../assets/fonts/hp-simplified-light.ttf'); 
}

body, html {
  height: 100%;
}

.st-font { 
  font-family: 'hp-simplified-light', 'Roboto', 'sans-serif';
  letter-spacing: 2px;
}

.st-p-color { color: #c2185b !important; }

.st-p-color-l { color: #fa5788 !important; }

.st-p-color-d { color: #8c0032 !important; }

.st-p-bg-color { background-color: #c2185b !important; }

.st-p-bg-color-l { background-color: #fa5788 !important; }

.st-p-bg-color-d { background-color: #8c0032 !important; }

.st-s-color { color: #18ffff !important; }

.st-s-color-l { color: #76ffff !important; }

.st-s-color-d { color: #00cbcc !important; }

.st-s-bg-color { background-color: #18ffff !important; }

.st-s-bg-color-l { background-color: #76ffff !important; }

.st-s-bg-color-d { background-color: #00cbcc !important; }

.green-gradient{ background-image: linear-gradient(120deg, #d4fc79 0%, #169916 100%) }

.toggle.android { border-radius: 0px;}

.ad-author-img{ width: 80px; }

/* header */
header.st-cstm-header, header.st-cstm-header-search{
    /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.st-cstm-header{ height: 100%; }

header.st-cstm-header-search{ height: 50%; }


#st-sticky-scroll{
  right: 5px;
  bottom: 70px;
  z-index: 1049;
}

#st-categs .st-categ-elt{ overflow: visible; }

#st-categs .st-categ-elt img{
  width: 250px;
  height: 250px;
}

#st-categs .st-categ-elt .mask a{ color: transparent !important; }

.st-cstm-header, body.modal-open{ overflow: hidden; }

#main-nav-top{ transition: all 0.5s ease 0s; }

.navbar-brand{
	font-family: 'hp-simplified-light';
}

.navbar-brand img{ width: 150px; }

.navbar-brand img, .navbar-brand strong{ vertical-align: middle; } 

.navbar.top-nav-collapse{
  background: #c2185b !important;
}

.scrolling-navbar {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link{ 
  background: none !important;
}
/* end header */

/* ads */
.md-v-line {
  position: absolute;
  height: 50px;
  top: 0px;
  left: 54px;
}

.st-ad .list-group-item{
  padding: 2px !important;
  border: none !important;
}


/* partners */
#st-partners .swiper-slide{ background: transparent !important; }
/* partners */

/* footer */
footer.page-footer .footer-links a{ line-height: 30px; }

footer.page-footer a.navbar-brand:hover{ color: #fff; }

footer.page-footer li.st-f-elt a.st-f-link {
  font-size: 12px;
  letter-spacing: 1px;
} 

footer.page-footer a:hover{ 
  color: rgba(255,255,255,0.75);
  margin-left: 5px;
}

footer.page-footer ul.list-unstyled > li { margin-bottom: 5px; }

#st-socials-links a{ border: none; }

#st-socials-links a:active, #st-socials-links a:focus{ text-decoration: none; }

footer #form-newsletter .md-form input:not([type]):focus:not([readonly]), 
footer #form-newsletter .md-form input[type="text"]:not(.browser-default):focus:not([readonly]), 
footer #form-newsletter .md-form input[type="password"]:not(.browser-default):focus:not([readonly]), 
footer #form-newsletter .md-form input[type="email"]:not(.browser-default):focus:not([readonly]), 
footer #form-newsletter .md-form input[type="url"]:not(.browser-default):focus:not([readonly]), 
footer #form-newsletter .md-form input[type="time"]:not(.browser-default):focus:not([readonly]), 
footer #form-newsletter .md-form input[type="date"]:not(.browser-default):focus:not([readonly]), 
footer #form-newsletter .md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]), 
footer #form-newsletter .md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), 
footer #form-newsletter .md-form input[type="tel"]:not(.browser-default):focus:not([readonly]), 
footer #form-newsletter .md-form input[type="number"]:not(.browser-default):focus:not([readonly]), 
footer #form-newsletter .md-form input[type="search"]:not(.browser-default):focus:not([readonly]), 
footer #form-newsletter .md-form input[type="phone"]:not(.browser-default):focus:not([readonly]), 
footer #form-newsletter .md-form input[type="search-md"]:focus:not([readonly]), 
footer #form-newsletter .md-form textarea.md-textarea:focus:not([readonly])
{
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0 1px 0 0 #fff;
  box-shadow: 0 1px 0 0 #fff;
}

footer #form-newsletter .md-form>label{ color: #fff !important; }
/* end footer */

/* override */
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{ content: ''; } 

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{ content: ''; }

.swiper-button-prev i, .swiper-container-rtl .swiper-button-next i, .swiper-button-next i, .swiper-container-rtl .swiper-button-prev i {
  font-size: 35px !important;
}

#ads-list .st-ad-l-imgs .swiper-slide img{ 
  min-height: 300px; 
}

#ads-list .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  background: rgba(0, 0, 0, 1);
}

#ads-list .swiper-pagination-bullet-active {
  color: #000;
  background: #18ffff;
  font-weight: bold;
}

/* ad detail */
#ad-detail-content .swiper-container {
  width: 100%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

#ad-detail-content .swiper-slide {
  background-size: cover;
  background-position: center;
}

#ad-detail-content .gallery-top {
  height: 400px;
  width: 100%;
}

#ad-detail-content .gallery-thumbs {
  height: 150px;
  box-sizing: border-box;
  padding: 10px 0;
}

#ad-detail-content .gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

#ad-detail-content .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
/* ad detail */

/*search form*/

.toggle.android .toggle-handle { border-radius: 0px; }

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20rem; }

.toggle.ios .toggle-handle { border-radius: 20rem; }

#st-search-form-max .toggle.android, #st-search-form-max .toggle.ios, #st-search-form-max .dropdown.bootstrap-select{ 
  width: 100% !important; 
  min-width: 115px;
  padding-right: 10px;
}

#st-search-form-min .toggle.android, #st-search-form-min .toggle.ios, #st-search-form-min .btn.dropdown-toggle { 
  width: 95% !important; 
  margin: auto !important;
}

#st-search-form-min .dropdown.bootstrap-select{ width: 100% !important; }

#st-search-form-max .toggle.android, .toggle.ios{ width: 97.5% !important; }

.dropdown.bootstrap-select .dropdown-menu.show{ z-index: 9999 !important; }

.st-search-form .bootstrap-select .dropdown-menu li{ 
  text-align: left;
  margin-bottom: 2px;
}

.st-search-form .bootstrap-select .dropdown-menu li a{ 
  padding: 15px 0 15px 15px; 
}

.st-search-form .bootstrap-select .dropdown-menu li a.dropdown-item.active.selected{ 
  color: #000 !important; 
  background-color: #18ffff !important;
}

.st-search-form .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark{ top: 15px !important; }

.st-search-form #st-cstm-select-search-container .select2-container .select2-selection--single{
  height: 50px !important;
  padding: 10px !important;
}

.st-search-form #st-cstm-select-search-container .select2-container .select2-selection--single:focus{
  border: none !important;
  outline: none !important;
}

.st-search-form .select2-container--default .select2-selection--single .select2-selection__arrow{ right: 25px; }

#st-search-form-max #st-cstm-select-search-container{ margin-left: -4px; }

.select2-dropdown.select2-dropdown--below{ z-index: 999 !important; }

.select2-search--dropdown{ padding: 0 !important; }

.select2-search--dropdown > input.select2-search__field,
.select2-search--dropdown > input.select2-search__field:focus{
  padding: 12px;
  outline: none;
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: 2px solid #18ffff !important;
}

.select2-results__option{ 
  outline: none !important;
  padding: 12px !important;
}


#st-search-form-min .select2-container.select2-container--default{
  width: 93% !important;
  margin: auto !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{ 
  color: #212529;
  background-color: #18ffff !important; 
}

.select2-container--default .select2-results>.select2-results__options{ max-height: 380px !important; }

/*search form*/

.dtp-buttons button{
  padding: 5px 10px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}

.st-cstm-select{
  width: calc(100% - 2rem);
  margin-left: 2rem;
}
/* override */

/* effects */
.noUi-connect{
  background-color: #c2185b !important;
}

.st-cstm-btn{
  color: #fff !important;
  background-color: #8c0032;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0); 
  -ms-transform: perspective(1px) translateZ(0); 
  -moz-transform: perspective(1px) translateZ(0); 
  -o-transform: perspective(1px) translateZ(0); 
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: .3s;
}

.st-cstm-btn:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  -webkit-transform: scaleX(0); 
  -ms-transform: scaleX(0); 
  -moz-transform: scaleX(0); 
  -o-transform: scaleX(0); 
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%; 
  -ms-transform-origin: 0 50%; 
  -moz-transform-origin: 0 50%; 
  -o-transform-origin: 0 50%; 
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

.st-cstm-btn:hover:before { transform: scaleX(1); }

.btn.st-cstm2-btn:hover { 
  color: #8c0032 !important;
  background-color:  #fff !important;
}
/* effects */

/* responsive */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #667490;
  }
}

@media (min-width: 820px) {
  #st-search-form-max .toggle.android, #st-search-form-max .toggle.ios, #st-search-form-max .dropdown.bootstrap-select{ 
    min-width: 250px;
  }
}

@media (max-width: 740px) {
  html,
  body,
  header.st-cstm-header
  {
    height: 650px;
  }

  header.st-cstm-header-search{ height: 325px; }

  .st-parallax-text h1, .st-parallax-text p{ font-size: 70%; }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header.st-cstm-header
 {
    height: 600px;
  }

  header.st-cstm-header-search{ height: 300px; }
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #c2185b !important;
  }
}
/* end responsive */
