{% extends 'base.html.twig' %}

{% block title %}Bingo | Faire le juste choix{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('addons/fotorama/fotorama.css') }}">
{% endblock %}

{% block body %}
  <header class="st-cstm-header-search d-flex align-items-center aqua-gradient">
      {# navbar #}
        {% include 'public/fragments/nav_bar.html.twig' with {'class': 'navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar st-p-bg-color'} %}
      {# navbar #}

      <div class="container text-center white-text">
          <h3 class="h3-responsive my-2">Card title quatur ducimus obcaecati numquam molest</h3>
          <p class="lead"><strong><i class="fas fa-map-marker-alt mr-1"></i> Maison en location, Yaoundé</strong></p>
      </div>
  </header>

  <main>
    {# ad detail #}
    <div id="ad-detail-content" class="container my-5">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-loop="true" data-autoplay="true" data-keyboard="true">
              <img src="https://s.fotorama.io/1.jpg" data-caption="One">
              <img src="https://s.fotorama.io/2.jpg" data-caption="Two">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="ad-author text-center my-1">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" class="ad-author-img rounded-circle img-responsive mx-auto" alt="Avatar photo">
            <p class="text-center my-2">
              <h4 class="ad-author-name h4-responsive">
                <a href="#!" title="Lien vers le profile public" class="ml-1">Green Home Agency LTD</a>
                <i class="fas fa-check-circle white-text st-p-color-d"></i>
              </h4>
              <small class="m-2 d-block">Agence immobilière - Agent immobilier - Particulier</small>
              <span class="m-2 d-block">(Compte professionnel)</span>
            </p>
          </div>
          <div class="my-1 text-center">
              <p class="p-0"><u>A propos de l'annonceur:</u></p>
              <p class="h5-responsive p-0 font-weight-bold mb-0">
                <a href="#" data-toggle="tooltip" title="Note globale ayant été attribué à cet annonceur par la communauté." class="black-text">Note: 4.5/5</a></p>
              <p class="m-0 p-0 h5-responsive">Inscrit depuis 12/08/2020</p>
          </div>
        </div>
      </div>
        
      <div class="row">
       <div class="col-xs-12 col-sm-8 my-2">
          <div class="accordion" id="accordionExample">
            <div class="card z-depth-0 bordered">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable.
                </div>
              </div>
            </div>
            <div class="card z-depth-0 bordered">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link w-100 text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable.
                </div>
              </div>
            </div>
            <div class="card z-depth-0 bordered">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link w-100 text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable.
                </div>
              </div>
            </div>
        </div>
       </div>
       <div class="col-xs-12 col-sm-4 my-2">
        <div class="card">
          <h5 class="card-header h5-responsive text-uppercase text-center">Contacter l'annonceur</h5>
          <div class="card-body">
            <h5 class="card-title">Informations de contact</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fas fa-phone-alt text-nowrap  mr-1"></i> +237 6xx-xxx-xxx</li>
            <li class="list-group-item"><i class="fas fa-at text-nowrap  mr-1"></i> <a href="mailto:contact@bingo.com" title="Email structure">contact@bingo.com</a></li>
            <li class="list-group-item"><i class="fas fa-globe text-nowrap  mr-1"></i><a href="https://bingo.com" target="_blank" title="Site web agence">site.bingo.com</a></li>
          </ul>
          <div class="card-body text-center">
            <a href="#!" class="btn btn-success"><i class="fas fa-comments mr-1"></i> Envoyer un message</a>
            <a href="#!" class="btn btn-warning"><i class="fas fa-user-check mr-1"></i> Donner une note</a>
          </div>
        </div>
       </div>
      </div>
    </div>
    {# ad detail #}

    {# premium ads #}
    {% include 'public/fragments/ads_slider.html.twig' with {'title': 'Annonces sililaires'} %}
    {# premium ads #}
  </main>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('addons/fotorama/fotorama.js') }}"></script>
  <script type="text/javascript">
      $(document).ready(function () {
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
      });
  </script>
{% endblock %}