{% extends 'base.html.twig' %}

{% block title %}Bilboule | Faire le juste choix{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
  {# header #}
    <header class="st-cstm-header d-flex align-items-center aqua-gradient">
        {# navbar #}
          {{ include('public/fragments/nav_bar.html.twig') }}
        {# navbar #}

        {# search form #}
          {{ include('public/fragments/search_form_max.html.twig') }}
        {# search form #}
    </header>
  {# header #}
  <!--Main layout-->
  <main>
      <div class="mt-5"></div>

      {# premium ads | Près de chez vous #}
        {% include 'public/fragments/ads_slider.html.twig' with {'title': 'Annonces publiées'} %}
      {# premium ads #}

      <hr class="my-5">

      {# last ads #}
        {{ include('public/fragments/last_ads.html.twig') }}
      {# last ads #}

      <hr class="my-5">

      <section class="container">
        <h3 class="my-5 h3-responsive text-center st-p-color text-uppercase">Rencontrez les meilleurs bailleurs et propriétaires</h3>

        <div class="row st-advisers mb-5 mt-3 text-center wow fadeIn d-flex align-items-center justify-content-center">
          <!-- Card deck -->

            <!-- Card -->
            <div class="my-2 col-xs-12 col-sm-6 col-lg-3">

              <div class="card">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <h4 class="h4-responsive card-title text-nowrap text-truncate">HAO Consulting LTD</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                  <a href="#!" class="btn st-s-bg-color btn-md w-100">Afficher le profil</a>
                </div>

              </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="my-2 col-xs-12 col-sm-6 col-lg-3">

              <div class="card">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <h4 class="h4-responsive card-title text-nowrap text-truncate">BIULOND Koumdjin Diangyu</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                  <a href="#!" class="btn st-s-bg-color btn-md w-100">Afficher le profil</a>
                </div>

              </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="my-2 col-xs-12 col-sm-6 col-lg-3">

              <div class="card">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <h4 class="h4-responsive card-title text-nowrap text-truncate">Abonnement</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                  <a href="#!" class="btn st-s-bg-color btn-md w-100">Afficher le profil</a>
                </div>

              </div>
            </div>
            <!-- Card -->
        </div>
        
      </section>

      <hr class="my-5">

      <section class="container">
        <h3 class="my-5 h3-responsive text-center st-p-color text-uppercase">Les prix</h3>

        <div class="row st-prices mb-5 mt-3 text-center wow fadeIn d-flex align-items-center justify-content-center">
          <!-- Card deck -->

            <!-- Card -->
            <div class="my-2 col-xs-12 col-sm-6 col-lg-4">

              <div class="card">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="h4-responsive card-title">Classique</h4>
                  <h5 class="card-sub text-truncate-title st-price">1 000 FCFA</h5>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-nowrap">Cras justo odio</li>
                    <li class="list-group-item text-nowrap">Dapibus ac facilisis in</li>
                    <li class="list-group-item text-nowrap">Vestibulum at eros</li>
                  </ul>

                </div>

              </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="my-2 col-xs-12 col-sm-6 col-lg-4">

              <div class="card">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="h4-responsive card-title">Premium</h4>
                  <h5 class="card-sub text-truncate-title st-price">2 000 FCFA</h5>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-nowrap">Cras justo odio</li>
                    <li class="list-group-item text-nowrap">Dapibus ac facilisis in</li>
                    <li class="list-group-item text-nowrap">Vestibulum at eros</li>
                  </ul>

                </div>

              </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="my-2 col-xs-12 col-sm-6 col-lg-4">

              <div class="card">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="h4-responsive card-title">Abonnement</h4>
                  <h5 class="card-sub text-truncate-title st-price">5 000 FCFA</h5>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-nowrap">Cras justo odio</li>
                    <li class="list-group-item text-nowrap">Dapibus ac facilisis in</li>
                    <li class="list-group-item text-nowrap">Vestibulum at eros</li>
                  </ul>

                </div>

              </div>
            </div>
            <!-- Card -->
        </div>
        
      </section>


      <hr class="my-5">

      <section id="st-accounts">
        <h3 class="h3-responsive text-center mb-5 st-p-color text-uppercase">Odit sed qui, dolorum</h3>

        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-6 ">
              <!-- Card -->
              <div class="card card-image my-2"
                style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
                    <h5 class="white-text"><i class="fas fa-bullhorn"></i> Personnel</h5>
                    <h3 class="card-title pt-2"><strong>Compte usager</strong></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                      optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                      Odit sed qui, dolorum!.</p>
                    <a href="{{ path('app_sign_up_people') }}" class="btn st-s-bg-color black-text"><i class="fas fa-user"></i> Creer un compte usager</a>
                  </div>
                </div>

              </div>
              <!-- Card -->
            </div>
            <div class="col-xs-12 col-lg-6 ">
              <!-- Card -->
              <div class="card card-image my-2"
                style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-blue-strong py-5 px-4">
                  <div>
                    <h5 class="white-text"><i class="fas fa-award"></i> Professionnel</h5>
                    <h3 class="card-title pt-2"><strong>Compte professionnel</strong></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                      optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                      Odit sed qui, dolorum!.</p>
                    <a href="{{ path('app_sign_up_company') }}"  class="btn st-s-bg-color black-text"><i class="fas fa-user-tie"></i> Creer un compte professionnel</a>
                  </div>
                </div>

              </div>
              <!-- Card -->
            </div>
          </div>
        </div>
      </section>

      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
      <section class="container">
        <div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
          <div class="text-white text-center py-5 px-4">
            <div>
              <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
                <strong>Create your beautiful website with MDBootstrap</strong>
              </h2>

              <p class="mx-xs-0 mx-lg-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!
              </p>

              <a data-toggle="modal" data-target="#stModalDon" class="btn btn-md st-cstm-btn m-0 waves-effect waves-light"><i class="fas fa-clone left white-text"></i> <span class="white-text">Je souhaite faire un don</span></a>
            </div>
          </div>
        </div>

        {# modal don #}
        <div class="modal fade" id="stModalDon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
            <!--Content-->
            <div class="modal-content">

              <!--Header-->
              <div class="modal-header">
                <img src="{{ asset('Bilboule-130.jpg') }}" class="rounded-circle img-responsive"
                  alt="Avatar photo">
              </div>
              <!--Body-->
              <div class="modal-body text-center mb-1">

                <h5 class="mt-1 mb-2">Nostrud exercitation ullamco</h5>

                <div class="md-form ml-0 mr-0 text-center">
                  <strong class="my-2">+237 611 222 333</strong><br>
                  <strong class="my-2">+237 6xx xxx xxx</strong><br>
                </div>

                <div class="text-center mt-4">
                  <button class="btn st-s-bg-color black-text" onclick="$('#stModalDon').modal('hide')">Compris
                    <i class="fas fa-check-double ml-1"></i>
                  </button>
                </div>
              </div>

            </div>
            <!--/.Content-->
          </div>
        </div>
        {# modal don #}
    </section>

    <div class="mb-5"></div>

  </main>
  <!--Main layout-->
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/home.js') }}" type="text/javascript"></script>
{% endblock %}
