{% extends 'base.html.twig' %}

{% block title %}Bingo | Faire le juste choix{% endblock %}

{% block body %}
    <header class="st-cstm-header-search d-flex align-items-center aqua-gradient">
        {# navbar #}
          {% include 'public/fragments/nav_bar.html.twig' with {'class': 'navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar st-p-bg-color'} %}
        {# navbar #}

        <div class="container text-center white-text">
            <h3 class="h3-responsive my-2">Résultats de recherche: </h3>
            <p class="lead"><strong><i class="fas fa-map-marker-alt mr-1"></i> Maison en location, Yaoundé</strong></p>
        </div>
    </header>

<main>
    <div class="container my-5">
        {# search results #}
        <div class="row">
            <div id="rs-left-content" class="col-xs-12 col-xl-4 card mb-4 h-100">
                {# min search form #}
                  {{ include('public/fragments/search_form_min.html.twig') }}
                {# min search form #}
            </div>
            <div id="rs-right-content" class="col-xs-12 col-xl-8">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Filtrer les résultats</h5>
                    <div class="card-text">
                        <form>
                            <div class="form-row py-2">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Ancienneté</label>
                                      </div>
                                      <select class="browser-default custom-select" id="inputGroupSelect01">
                                        <option value="0">-- Choisir une option --</option>
                                        <option value="1">Plus récent</option>
                                        <option value="2">Moins récent</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Opération</label>
                                      </div>
                                      <select class="browser-default custom-select" id="inputGroupSelect01">
                                        <option value="0">-- Choisir une option --</option>
                                        <option value="1">A louer</option>
                                        <option value="2">A vendre</option>
                                      </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-2 py-xs-2 pt-sm-4">
                                <div class="col-xs-12 col-sm-4">
                                    <p class="lead mb-xl-5">Marge de prix (FCFA):</p>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div id="range"></div><br>
                                </div>
                            </div>
                            <div class="form-row py-2">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect03">Trier par prix</label>
                                      </div>
                                      <select class="browser-default custom-select" id="inputGroupSelect03">
                                        <option value="0">-- Choisir une option --</option>
                                        <option value="1">Prix croissant</option>
                                        <option value="2">Prix décroissant</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect04">Popularité</label>
                                      </div>
                                      <select class="browser-default custom-select" id="inputGroupSelect04">
                                        <option value="0">-- Choisir une option --</option>
                                        <option value="1">Plus populaire</option>
                                        <option value="2">Moins populaire</option>
                                      </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                  <input type="checkbox" class="custom-control-input" id="defaultInline1">
                                  <label class="custom-control-label" for="defaultInline1">Annonces Premiums uniquement</label>
                                </div>

                                <!-- Default inline 2-->
                                <div class="custom-control custom-checkbox custom-control-inline">
                                  <input type="checkbox" class="custom-control-input" id="defaultInline2">
                                  <label class="custom-control-label" for="defaultInline2">Annonces de professionels</label>
                                </div>

                                <!-- Default inline 3-->
                                <div class="custom-control custom-checkbox custom-control-inline">
                                  <input type="checkbox" class="custom-control-input" id="defaultInline3">
                                  <label class="custom-control-label" for="defaultInline3">Annonces de particuliers</label>
                                </div>
                            </div>
                            <div class="row my-2 justify-content-center text-center">
                                <button class="btn st-s-bg-color black-text">Appliquer le filtre</button>                                
                            </div>
                        </form>
                    </div>
                  </div>
                </div>

                <div class="row mt-5 mb-1">
                    <h3 class="m-3 h3-responsive"><span class="st-p-bg-color px-4 py-3 text-uppercase white-text">Résultat de recherche</span></h3>
                </div>

                <div id="ads-list" class="p-2">
                    {# ad elt #}
                    <div class="row my-5">
                        <div class="st-ad-l-elt col p-xs-2 p-xl-0">
                            <div class="card hoverable">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-6 st-ad-l-imgs">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                              <div class="swiper-slide">
                                                  <img src="https://swiperjs.com/demos/images/nature-4.jpg" class="img-fluid w-100" alt="Image">
                                              </div>
                                              <div class="swiper-slide">
                                                  <img src="https://swiperjs.com/demos/images/nature-4.jpg" class="img-fluid w-100" alt="Image">
                                              </div>
                                              <div class="swiper-slide">
                                                  <img src="https://swiperjs.com/demos/images/nature-4.jpg" class="img-fluid w-100" alt="Image">
                                              </div>
                                              <div class="swiper-slide">
                                                  <img src="https://swiperjs.com/demos/images/nature-4.jpg" class="img-fluid w-100" alt="Image">
                                              </div>
                                              <div class="swiper-slide">
                                                  <img src="https://swiperjs.com/demos/images/nature-4.jpg" class="img-fluid w-100" alt="Image">
                                              </div>
                                            </div>
                                            <!-- Add Pagination -->
                                            <div class="swiper-pagination"></div>
                                            <!-- Add Arrows -->
                                            <div class="swiper-button-prev text-white"><i class="fas fa-arrow-alt-circle-left"></i></div>
                                            <div class="swiper-button-next text-white"><i class="fas fa-arrow-alt-circle-right"></i></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-6 st-ad-l-elt-infos px-4">
                                        <h4 class="h4-responsive card-title my-2"><strong>Card title quatur ducimus obcaecati numquam molest...</strong></h4>
                                        <!-- <p class="h5-responsive py-4 mb-2">Date: Le 15 Mai 2020</p> -->

                                        <ul class="list-group my-1 list-unstyled">
                                            <li class="list-group-item text-nowrap border-0 p-1">
                                              <div class="md-v-line"></div><i class='fas fa-building mr-2'></i> <strong> Immeuble</strong>
                                            </li>
                                            <li class="list-group-item text-nowrap border-0 p-1">
                                              <div class="md-v-line"></div><i class="fas fa-hand-holding-usd mr-2"></i> Vente
                                            </li>
                                            <li class="list-group-item text-nowrap border-0 p-1">
                                              <div class="md-v-line"></div><i class="fas fa-map-marker-alt mr-2"></i><a href="#!">Yaoundé</a>
                                            </li>
                                            <li class="list-group-item text-nowrap border-0 p-1">
                                              <div class="md-v-line"></div><i class="fas fa-money-bill mr-2"></i> <strong>Prix: 32 742 000 FCFA</strong>
                                            </li>
                                        </ul>

                                        <p class="card-text mb-1">
                                            Lorem ipsum dolor sit amet, consectetur a molestias hic itaque accusantium doloremque laudantium, totam rem aperiam...
                                        </p>

                                        <hr class="my-1">

                                        <div class="row p-2">
                                            <a href="#" class="btn waves-effect st-cstm-btn mr-1"><i class="far fa-eye mr-1"></i> Afficher</a>
                                            <a title="Share" class="btn waves-effect st-cstm-btn"><i class="fas fa-share-alt mr-2"></i>Partager</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# ad elt #}
                        {# ad elt #}
                        <div class="row my-5">
                            <div class="st-ad-l-elt col p-xs-2 p-xl-0">
                                <div class="card hoverable">
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-6 st-ad-l-imgs">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                  <div class="swiper-slide">
                                                      <img src="https://swiperjs.com/demos/images/nature-5.jpg" class="img-fluid w-100" alt="Image">
                                                  </div>
                                                  <div class="swiper-slide">
                                                      <img src="https://swiperjs.com/demos/images/nature-5.jpg" class="img-fluid w-100" alt="Image">
                                                  </div>
                                                  <div class="swiper-slide">
                                                      <img src="https://swiperjs.com/demos/images/nature-5.jpg" class="img-fluid w-100" alt="Image">
                                                  </div>
                                                  <div class="swiper-slide">
                                                      <img src="https://swiperjs.com/demos/images/nature-5.jpg" class="img-fluid w-100" alt="Image">
                                                  </div>
                                                  <div class="swiper-slide">
                                                      <img src="https://swiperjs.com/demos/images/nature-5.jpg" class="img-fluid w-100" alt="Image">
                                                  </div>
                                                </div>
                                                <!-- Add Pagination -->
                                                <div class="swiper-pagination"></div>
                                                <!-- Add Arrows -->
                                                <div class="swiper-button-prev text-white"><i class="fas fa-arrow-alt-circle-left"></i></div>
                                                <div class="swiper-button-next text-white"><i class="fas fa-arrow-alt-circle-right"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6 st-ad-l-elt-infos px-4">
                                            <h4 class="h4-responsive card-title my-2"><strong>Card title quatur ducimus obcaecati numquam molest...</strong></h4>
                                            <!-- <p class="h5-responsive py-4 mb-2">Date: Le 15 Mai 2020</p> -->

                                            <ul class="list-group my-1 list-unstyled">
                                                <li class="list-group-item text-nowrap border-0 p-1">
                                                  <div class="md-v-line"></div><i class='fas fa-building mr-2'></i> <strong> Immeuble</strong>
                                                </li>
                                                <li class="list-group-item text-nowrap border-0 p-1">
                                                  <div class="md-v-line"></div><i class="fas fa-hand-holding-usd mr-2"></i> Vente
                                                </li>
                                                <li class="list-group-item text-nowrap border-0 p-1">
                                                  <div class="md-v-line"></div><i class="fas fa-map-marker-alt mr-2"></i><a href="#!">Yaoundé</a>
                                                </li>
                                                <li class="list-group-item text-nowrap border-0 p-1">
                                                  <div class="md-v-line"></div><i class="fas fa-money-bill mr-2"></i> <strong>Prix: 32 742 000 FCFA</strong>
                                                </li>
                                            </ul>

                                            <p class="card-text mb-1">
                                                Lorem ipsum dolor sit amet, consectetur a molestias hic itaque accusantium doloremque laudantium, totam rem aperiam...
                                            </p>

                                            <hr class="my-1">

                                            <div class="row p-2">
                                                <a href="#" class="btn waves-effect st-cstm-btn mr-1"><i class="far fa-eye mr-1"></i> Afficher</a>
                                                <a title="Share" class="btn waves-effect st-cstm-btn"><i class="fas fa-share-alt mr-2"></i>Partager</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# ad elt #}
                        {# ad elt #}
                        <div class="row my-5">
                            <div class="st-ad-l-elt col p-xs-2 p-xl-0">
                                <div class="card hoverable">
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-6 st-ad-l-imgs">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                  <div class="swiper-slide">
                                                      <img src="https://swiperjs.com/demos/images/nature-1.jpg" class="img-fluid w-100" alt="Image">
                                                  </div>
                                                  <div class="swiper-slide">
                                                      <img src="https://swiperjs.com/demos/images/nature-1.jpg" class="img-fluid w-100" alt="Image">
                                                  </div>
                                                  <div class="swiper-slide">
                                                      <img src="https://swiperjs.com/demos/images/nature-1.jpg" class="img-fluid w-100" alt="Image">
                                                  </div>
                                                  <div class="swiper-slide">
                                                      <img src="https://swiperjs.com/demos/images/nature-1.jpg" class="img-fluid w-100" alt="Image">
                                                  </div>
                                                  <div class="swiper-slide">
                                                      <img src="https://swiperjs.com/demos/images/nature-1.jpg" class="img-fluid w-100" alt="Image">
                                                  </div>
                                                </div>
                                                <!-- Add Pagination -->
                                                <div class="swiper-pagination"></div>
                                                <!-- Add Arrows -->
                                                <div class="swiper-button-prev text-white"><i class="fas fa-arrow-alt-circle-left"></i></div>
                                                <div class="swiper-button-next text-white"><i class="fas fa-arrow-alt-circle-right"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-6 st-ad-l-elt-infos px-4">
                                            <h4 class="h4-responsive card-title my-2"><strong>Card title quatur ducimus obcaecati numquam molest...</strong></h4>
                                            <!-- <p class="h5-responsive py-4 mb-2">Date: Le 15 Mai 2020</p> -->

                                            <ul class="list-group my-1 list-unstyled">
                                                <li class="list-group-item text-nowrap border-0 p-1">
                                                  <div class="md-v-line"></div><i class='fas fa-building mr-2'></i> <strong> Immeuble</strong>
                                                </li>
                                                <li class="list-group-item text-nowrap border-0 p-1">
                                                  <div class="md-v-line"></div><i class="fas fa-hand-holding-usd mr-2"></i> Vente
                                                </li>
                                                <li class="list-group-item text-nowrap border-0 p-1">
                                                  <div class="md-v-line"></div><i class="fas fa-map-marker-alt mr-2"></i><a href="#!">Yaoundé</a>
                                                </li>
                                                <li class="list-group-item text-nowrap border-0 p-1">
                                                  <div class="md-v-line"></div><i class="fas fa-money-bill mr-2"></i> <strong>Prix: 32 742 000 FCFA</strong>
                                                </li>
                                            </ul>

                                            <p class="card-text mb-1">
                                                Lorem ipsum dolor sit amet, consectetur a molestias hic itaque accusantium doloremque laudantium, totam rem aperiam...
                                            </p>

                                            <hr class="my-1">

                                            <div class="row p-2">
                                                <a href="#" class="btn waves-effect st-cstm-btn mr-1"><i class="far fa-eye mr-1"></i> Afficher</a>
                                                <a title="Share" class="btn waves-effect st-cstm-btn"><i class="fas fa-share-alt mr-2"></i>Partager</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# ad elt #}
                    <div class="row my-2 justify-content-center">
                        <a href="#!" class="btn btn-lg waves-effect st-p-color rounded-pill">Afficher plus</a>
                    </div>
                </div>
            </div>
        </div>
        {# search results #}

        {# premium ads #}
        {% include 'public/fragments/ads_slider.html.twig' with {'title': 'Annonces premiums'} %}
        {# premium ads #}
    </div>
</main>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var range = document.getElementById('range');

            noUiSlider.create(range, {

                range: {
                    'min': 5000,
                    'max': 1500000
                },

                step: 1000,

                // Handles start at ...
                start: [75000, 650000],

                // ... must be at least 300 apart
                // margin: 300,

                // ... but no more than 600
                // limit: 500,

                // Display colored bars between handles
                connect: true,

                // Put '0' at the bottom of the slider
                direction: 'ltr',
                orientation: 'horizontal',

                // Move handle on tap, bars are draggable
                behaviour: 'tap-drag',
                tooltips: true,
                // format: wNumb({
                //     decimals: 0
                // }),

                // Show a scale with the slider
                // pips: {
                //     mode: 'steps',
                //     stepped: true,
                //     density: 4
                // }
            });

            range.noUiSlider.on('change',function (values, handle, unencoded, tap, positions, noUiSlider) {
                // console.log(range.noUiSlider.get());
            });
        });
    </script>
{% endblock %}