{% if field.value is not null %}
    {% for item in field.value %}
        <a href="#" class="ea-lightbox-thumbnail" data-featherlight="#ea-lightbox-{{ item.id }}" data-featherlight-close-on-click="anywhere">
            {# the second parameter is the name of the property with the UploadableField annotation #}
            <img src="{{ vich_uploader_asset(item, 'pjFile') }}" class="img-fluid">
        </a>

        <div id="ea-lightbox-{{ item.id }}" class="ea-lightbox">
            {# the second parameter is the name of the property with the UploadableField annotation #}
            <img src="{{ vich_uploader_asset(item, 'pjFile') }}" class="img-fluid" style="max-width: 900px">
        </div>
    {% endfor %}
{% else %}
    <span class="label">{{ 'label.null'|trans(domain = 'EasyAdminBundle') }}</span>
{% endif %}