{% extends 'base_account.html.twig' %}

{% block title %}Annonce Appartement{% endblock %}

{% block acc_body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>State</th>
                <th>PublishDate</th>
                <th>ExpireDate</th>
                <th>Durée</th>
                <th>Date création</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce_appartement in annonce_appartements %}
            <tr>
                <td>{{ annonce_appartement.id }}</td>
                <td>{{ annonce_appartement.name }}</td>
                <td>{{ annonce_appartement.state }}</td>
                <td>{{ annonce_appartement.publishDate ? annonce_appartement.publishDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_appartement.expireDate ? annonce_appartement.expireDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_appartement.duration }}</td>
                <td>{{ annonce_appartement.createDate ? annonce_appartement.createDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_appartement.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('annonce_appartement_show', {'id': annonce_appartement.id}) }}">show</a>
                    <a href="{{ path('annonce_appartement_edit', {'id': annonce_appartement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
