{% extends 'base_account.html.twig' %}

{% block title %}{{ annonce.name }}{% endblock %}

{% block acc_style %} 
    <link href="{{ asset('addons/account/plugins/light-gallery/css/lightgallery.css') }}" rel="stylesheet">
    <link href="{{ asset('addons/account/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet" />
{% endblock %}

{% block acc_body %}

{% endblock %}

{% block acc_js %} 
<script src="{{ asset('addons/account/plugins/light-gallery/js/lightgallery-all.js') }}"></script>
<script src="{{ asset('addons/account/js/pages/medias/image-gallery.js') }}"></script>
<script src="{{ asset('addons/account/plugins/sweetalert/sweetalert.min.js') }}"></script>
<script>
$(document).ready(function() {
    $('.acc-btn-del').on('click', function (){
        swal({
                title: "Êtes-vous sûre?",
                text: "L'enregistrement sera supprimé définitivement!",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: 'Annuler',
                confirmButtonColor: "#FF0000",
                confirmButtonText: "Oui, supprimer",
                closeOnConfirm: false
            }, function () {
                $('.acc-del-form').submit();
            });
    });

    $('.acc-btn-pub-stop').on('click', function (e){
        e.preventDefault();
        var $link = $(this);
        swal({
                title: "Êtes-vous sûre?",
                text: "Votre annonce ne sera plus publiée.",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: 'Annuler',
                confirmButtonColor: "#FF0000",
                confirmButtonText: "Oui, dépublier",
                closeOnConfirm: false
            }, function () {
                window.location.href = $link.attr('href');
            });
    });

    $('.acc-btn-pub-start').on('click', function (e){
        e.preventDefault();
        var $link = $(this);
        swal({
                title: "Êtes-vous sûre?",
                text: "Votre annonce sera publiée une fois validée.",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: 'Annuler',
                confirmButtonColor: "#00FF00",
                confirmButtonText: "Oui, publier",
                closeOnConfirm: false
            }, function () {
                window.location.href = $link.attr('href');
            });
    });
});
</script>
{% endblock %}