{% extends 'base_account.html.twig' %}

{% block acc_style %} 
<link href="{{ asset('addons/account/plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet" />
<link href="{{ asset('addons/account/plugins/bootstrap-select-ajax/css/ajax-bootstrap-select.min.css') }}" rel="stylesheet" />
<link href="{{ asset('addons/account/plugins/jquery-spinner/css/bootstrap-spinner.css') }}" rel="stylesheet" />
<link href="{{ asset('addons/account/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet" />
<link href="{{ asset('addons/account/plugins/light-gallery/css/lightgallery.css') }}" rel="stylesheet">
{% endblock %}

{% block acc_msg %}
    {{ parent() }}
    {% if form_errors(form)|length %}
        <div class="alert alert-red alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ form_errors(form) }}
         </div>
    {% endif %}
{% endblock %}

{% block acc_body %}
    
{% block del_form %}
{% endblock %}

{% endblock %}


{% block acc_js %} 
<script src="{{ asset('addons/account/plugins/tinymce/tinymce.js') }}"></script>
<script src="{{ asset('addons/account/js/pages/forms/editors.js') }}"></script>
<script src="{{ asset('addons/account/plugins/jquery-spinner/js/jquery.spinner.js') }}"></script>
<script src="{{ asset('addons/account/plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>
<script src="{{ asset('addons/account/plugins/bootstrap-select-ajax/js/ajax-bootstrap-select.min.js') }}"></script>
<script src="{{ asset('addons/account/plugins/jquery-validation/jquery.validate.js') }}"></script>
<script src="{{ asset('addons/account/js/pages/forms/form-validation.js') }}"></script>
<script src="{{ asset('addons/account/plugins/sweetalert/sweetalert.min.js') }}"></script>
<script src="{{ asset('addons/account/plugins/light-gallery/js/lightgallery-all.js') }}"></script>
<script src="{{ asset('addons/account/js/pages/medias/image-gallery.js') }}"></script>
<script>
$(document).ready(function() {
    try{
        $('.acc-form .selectpicker').selectpicker({
            liveSearch: true,
        }).ajaxSelectPicker({
            ajax: {
                url: '{{ path("as_fbn", {"q": ""}) }}',
                type:'GET',
                dataType:'json',
                data: {
                  q: "{{select2params}}"
                }
            },
            preprocessData:function (data) {
                var i, l = data.length, array = [];
                if (l) {
                    for (i = 0; i < l; i++) {
                        array.push($.extend(true, data[i], {
                            text : data[i].name,
                            value: parseInt(data[i].key),
                            data : {
                                subtext: data[i].help
                            }
                        }));
                    }
                }
                return array;
            }
        });

        $('.acc-btn-del').on('click', function (){
            swal({
                    title: "Êtes-vous sûre?",
                    text: "L'enregistrement sera supprimé définitivement!",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: 'Annuler',
                    confirmButtonColor: "#FF0000",
                    confirmButtonText: "Oui, supprimer",
                    closeOnConfirm: false
                }, function () {
                    $('.acc-del-form').submit();
                });
        });

        $('#dimension_check').change(function () {
            if($(this).is(':checked')){
                $('#form-dimension').removeClass('hidden');
            }else{
                $('#form-dimension').addClass('hidden');
            }
        })
    }catch(e){}
});
</script>
{{ encore_entry_script_tags('a2lixSfCollection') }}
{% endblock %}