{% extends 'base_account.html.twig' %}

{% block acc_style %} 
<link href="{{ asset('addons/account/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css') }}" rel="stylesheet">
{% endblock %}

{% block acc_js %} 
<script src="{{ asset('addons/account/plugins/jquery-datatable/jquery.dataTables.js') }}"></script>
<script src="{{ asset('addons/account/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ asset('addons/account/js/pages/tables/jquery-datatable.js') }}"></script>
{% endblock %}
