{% extends 'base_account.html.twig' %}

{% block acc_style %} 
    <link href="{{ asset('addons/account/plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet" />
    <link href="{{ asset('addons/account/plugins/bootstrap-select-ajax/css/ajax-bootstrap-select.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block acc_msg %}
    {{ parent() }}

    {% if error %}
        <div class="alert bg-red alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ error }}
        </div>
    {% endif %}
{% endblock %}

{% block acc_body %}
<div class="row clearfix">
    <div class="col-xs-12 col-sm-4">
        <div class="card profile-card">
            <div class="profile-header bg-white">&nbsp;</div>
            <div class="profile-body">
                <div class="image-area">
                    <img src="{{ asset('addons/account/images/person-1824144_640.png') }}" alt="Photo de profile" />
                </div>
                <div class="content-area">
                    <h4>
                        {% if app.user.type == 'PARTICULIER' %}
                          {{ app.user.prenom }} {{ app.user.nom }} 
                        {% elseif app.user.type == 'ENTREPRISE' %}
                          {{ app.user.nom }} 
                        {% else %}
                          {{ app.user.email }}
                        {% endif %}

                        {% if app.user.certified %}
                            <i class="material-icons acc-certified">verified</i>
                        {% endif %}
                    </h4>

                    <p>Compte <span class="text-capitalize">{{ app.user.type }}</span></p>
                </div>
            </div>
            <div class="profile-footer">
                <ul>
                    <li>
                        <span>Total annonces</span>
                        <span>{{ annonces|length }}</span>
                    </li>
                    <li>
                        <span>Total notations</span>
                        <span>{{ app.user.receivedNotes|length }}</span>
                    </li>
                    <li>
                        <span>Ma note</span>
                        <span>{{ app.user.getMyNote() }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-8">
        <div class="card card-about-me">
            <div class="header">
                <h2>Mes informations</h2>
            </div>
            <div class="body">
                <ul>
                    <li>
                        <div class="title">
                            <i class="material-icons">location_on</i>
                            Localisation
                        </div>
                        <div class="content">
                            {% if app.user.place %}
                                {{ app.user.place }}
                            {% else %}
                                Vous n'avez définit aucune localisation pour le moment. Veuillez en définir une afin d'obtenir des suggestions de contenus plus pertinentes et toucher une audience plus susceptible de vous contacter pour vos annonces.
                            {% endif%}
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <i class="material-icons">engineering</i>
                            Secteur(s) d'activité(s)
                        </div>
                        <div class="content">
                            {% if app.user.secteurActivites|length %}
                                {% for secteur in app.user.secteurActivites %}
                                    <span class="label bg-teal">{{ secteur.name }}</span>
                                {% endfor %}
                            {% else %}
                                Vous n'appartenez à aucun secteur d'activité pour le moment. Veuillez en définir pour compléter votre profile et être visible auprès des personnes pouvant avoir besoin de vos produits et services.
                            {% endif %}
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <i class="material-icons">notes</i>
                            Présentation
                        </div>
                        <div class="content">
                            {% if app.user.presentation %}
                                {{ app.user.presentation }}
                            {% else %}
                                Vous n'avez encore renseigné aucune présentation pour votre compte. Votre présentation permet aux autres utilisateurs d'en apprendre mieux sur vous et ainsi renforcer votre crédibilité et votre confiance.
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-xs-12">
        <div class="card">
            <div class="body">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#profile_settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="material-icons">person</i> Infos profile</a></li>
                        <li role="presentation"><a href="#change_password_settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="material-icons">security</i> Mot de passe</a></li>
                    </ul>

                    <div class="tab-content">
                        {% if app.user.type == 'PARTICULIER' %}
                            {% include 'account/fragments/profile/particulier_form.html.twig' with {'userForm': userForm} %}
                        {% elseif app.user.type == 'ENTREPRISE' %}
                            {% include 'account/fragments/profile/entreprise_form.html.twig' with {'userForm': userForm} %}
                        {% endif %}
                        <div role="tabpanel" class="tab-pane fade in" id="change_password_settings">
                            {% include 'account/fragments/reset_password_form.html.twig' with {'resetPwdForm': resetPwdForm} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block acc_js %} 
    <script src="{{ asset('addons/account/plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>
    <script src="{{ asset('addons/account/plugins/bootstrap-select-ajax/js/ajax-bootstrap-select.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.acc-form #particulier_place.selectpicker').selectpicker({
                liveSearch: true,
            }).ajaxSelectPicker({
                ajax: {
                    url: '{{ path("as_fbn", {"q": ""}) }}',
                    type:'GET',
                    dataType:'json',
                    data: {
                      q: "{{select2params}}"
                    }
                },
                preprocessData:function (data) {
                    var i, l = data.length, array = [];
                    if (l) {
                        for (i = 0; i < l; i++) {
                            array.push($.extend(true, data[i], {
                                text : data[i].name,
                                value: parseInt(data[i].key),
                                data : {
                                    subtext: data[i].help
                                }
                            }));
                        }
                    }
                    return array;
                }
            });
        });
    </script>
    <script src="{{ asset('addons/account/plugins/jquery-validation/jquery.validate.js') }}"></script>
    <script src="{{ asset('addons/account/js/pages/forms/form-validation.js') }}"></script>
{% endblock %}
