{% extends 'base_account.html.twig' %}

{% block title %}Annonce Terrain{% endblock %}

{% block acc_body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>State</th>
                <th>PublishDate</th>
                <th>ExpireDate</th>
                <th>Duration</th>
                <th>CreateDate</th>
                <th>WriteDate</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce_terrain in annonce_terrains %}
            <tr>
                <td>{{ annonce_terrain.id }}</td>
                <td>{{ annonce_terrain.name }}</td>
                <td>{{ annonce_terrain.slug }}</td>
                <td>{{ annonce_terrain.state }}</td>
                <td>{{ annonce_terrain.publishDate ? annonce_terrain.publishDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_terrain.expireDate ? annonce_terrain.expireDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_terrain.duration }}</td>
                <td>{{ annonce_terrain.createDate ? annonce_terrain.createDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_terrain.writeDate ? annonce_terrain.writeDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_terrain.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('annonce_terrain_show', {'id': annonce_terrain.id}) }}">show</a>
                    <a href="{{ path('annonce_terrain_edit', {'id': annonce_terrain.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
