{# property specific infos #}
{% include 'account/pages/thing/immeuble/specific_form.html.twig' with {'form': form} %}
{# end property specific infos #}

{# property localization #}
{% include 'account/fragments/form/location.html.twig' with {'form': form} %}
{# end property localization #}

{# property price #}
{% include 'account/fragments/form/price.html.twig' with {'form': form} %}
{# end property price #}

{# property photos #}
{% include 'account/fragments/form/photos.html.twig' with {'form': form} %}
{# end property photos #}

{# property dimensions #}
{% include 'account/fragments/form/dimension.html.twig' with {'form': form} %}
{# end property dimensions #}

{# property extras infos #}
{% include 'account/fragments/form/extra_immeuble.html.twig' with {'form': form} %}
{# end property extras infos #}

{{ form_rest(form) }}