{% extends 'account/pages/base_account_form.html.twig' %}

{% block title %}Ajout Maison - Villa - Duplex{% endblock %}

{% block acc_header %}
    Ajout Maison - Villa - Duplex
{% endblock %}

{% block acc_body %}
    {# form #}
    {{ form_start(form, {'attr': {'id': 'acc-house-form', 'class': 'acc-form'}}) }}
        <div class="row acc-alert">
            <div class="col-xs-12 m-b-15 text-right">
                <button type="submit" class="btn btn-primary text-uppercase m-r-5">
                    <i class="material-icons">save</i><span>Enregistrer</span>
                </button>
                <a href="{{ path('my_things') }}" class="btn btn-info m-r-5">
                    <i class="material-icons">list</i><span>AFFICHER LA LISTE</span>
                </a>
            </div>
        </div>
        {{ include('account/pages/thing/immeuble/_form.html.twig') }}
    {{ form_end(form) }}
    {# form #}
{% endblock %}