{% extends 'account/pages/thing/things/base_thing_show.html.twig' %}

{% block title %}{{ thing.name }}{% endblock %}

{% block acc_body_actions_plus %}
<a href="{{ path('annonce_immeuble_new', {'id': thing.id}) }}" class="btn btn-primary m-r-5">
    <i class="material-icons">add</i><span>CREER ANNONCE</span>
</a>
<a href="{{ path('immeuble_edit', {'id': thing.id}) }}" class="btn col-black m-r-5">
    <i class="material-icons">mode_edit</i><span>MODIFIER</span>
</a>
{% endblock %}

{% block acc_body %}
    {# thing infos #}
    {{ include('account/pages/thing/immeuble/infos.html.twig', {'thing': thing}) }}
    {# thing infos #}

    {# delete form #}
    {{ include('account/pages/thing/immeuble/_delete_form.html.twig') }}
    {# delete form #}
{% endblock %}
