<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Informations sur la propriété
                    <small>Informations générales sur votre propriété</small>
                </h2>
            </div>
            <div class="body">
                <ul class="list-unstyled">
                    {% if thing.name is defined and thing.name %}
                    <li>Propriété: {{ thing.name }}<hr></li>
                    {% endif %}
                    {% if thing.operation is defined and thing.operation %}
                    <li>Opération: <span class="text-capitalize">{{ thing.operation }}</span><hr></li>
                    {% endif %}
                    {# logements #}
                    {% if thing.levelNumber is defined and thing.levelNumber %}
                    <li>Nombre d'étage': {{ thing.levelNumber }}<hr></li>
                    {% endif %}
                    {% if thing.elevatorNumber is defined and thing.elevatorNumber %}
                    <li>Nombre d'ascenseur: {{ thing.elevatorNumber }}<hr></li>
                    {% endif %}
                    {% if thing.parkingNumber is defined and thing.parkingNumber %}
                    <li>Nombre de parking: {{ thing.parkingNumber }}<hr></li>
                    {% endif %}
                    {# logements #}

                    {% if thing.garageNumber is defined and thing.garageNumber %}
                    <li>Nombre de garage: {{ thing.garageNumber }}<hr></li>
                    {% endif %}

                    {# general #}
                    {% if thing.dateDisponibilite is defined and thing.dateDisponibilite %}
                    <li>Date de disponibilité: {{ thing.dateDisponibilite? thing.dateDisponibilite|date('d-m-Y') : '' }}<hr></li>
                    {% endif %}
                    {# general #}
                </ul>
            </div>
        </div>
    </div>
</div>