<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Informations générales - immeuble
                    <small>Informations générales sur votre propriété</small>
                </h2>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_label(form.name) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.name) }}</div>
                            {{ form_errors(form.name) }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        {{ form_label(form.operation) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.operation, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.operation) }}</div>
                            {{ form_errors(form.operation) }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        {{ form_label(form.levelNumber) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.levelNumber, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.levelNumber) }}</div>
                            {{ form_errors(form.levelNumber) }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        {{ form_label(form.parkingNumber) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.parkingNumber, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.parkingNumber) }}</div>
                            {{ form_errors(form.parkingNumber) }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        {{ form_label(form.elevatorNumber) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.elevatorNumber, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.elevatorNumber) }}</div>
                            {{ form_errors(form.elevatorNumber) }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        {{ form_label(form.garageNumber) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.garageNumber, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.garageNumber) }}</div>
                            {{ form_errors(form.garageNumber) }}
                        </div>
                    </div>

                    <div class="col-xs-12">
                        {{ form_label(form.dateDisponibilite) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.dateDisponibilite, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.dateDisponibilite) }}</div>
                            {{ form_errors(form.dateDisponibilite) }}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="acc-st-desc">
                            {{ form_widget(form.description) }}
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>