<form method="post" action="{{ path('annonce_maison_delete', {'id': annonce.id}) }}" class="acc-del-form">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
</form>
