{% extends 'base_account.html.twig' %}

{% block title %}Annonce Maison{% endblock %}

{% block acc_body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>State</th>
                <th>PublishDate</th>
                <th>ExpireDate</th>
                <th>Duration</th>
                <th>CreateDate</th>
                <th>WriteDate</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce_maison in annonce_maisons %}
            <tr>
                <td>{{ annonce_maison.id }}</td>
                <td>{{ annonce_maison.name }}</td>
                <td>{{ annonce_maison.slug }}</td>
                <td>{{ annonce_maison.state }}</td>
                <td>{{ annonce_maison.publishDate ? annonce_maison.publishDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_maison.expireDate ? annonce_maison.expireDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_maison.duration }}</td>
                <td>{{ annonce_maison.createDate ? annonce_maison.createDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_maison.writeDate ? annonce_maison.writeDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce_maison.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('annonce_maison_show', {'id': annonce_maison.id}) }}">show</a>
                    <a href="{{ path('annonce_maison_edit', {'id': annonce_maison.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
