{% extends 'account/pages/base_account_form.html.twig' %}

{% block title %}Edition Appartement{% endblock %}

{% block acc_header %}
    Editer une propriété
{% endblock %}

{% block acc_body %}
    {# forms #}
    {{ form_start(form, {'attr': {'id': 'acc-house-form', 'class': 'acc-form'}}) }}
        <div class="row acc-alert">
            <div class="col-xs-12 m-b-15 text-right">
                <button type="submit" class="btn btn-primary text-uppercase m-r-5">
                    <i class="material-icons">save</i><span>ENREGISTRER</span>
                </button>
                <a href="{{ path('annonce_appartement_new', {'id': thing.id}) }}" class="btn btn-primary m-r-5">
                    <i class="material-icons">add</i><span>CREER ANNONCE</span>
                </a>
                <a href="{{ path('my_things') }}" class="btn col-black m-r-5">
                    <i class="material-icons">list</i><span>AFFICHER LA LISTE</span>
                </a>
                <button type="button" class="btn col-black acc-btn-del" data-type="confirm">
                    <i class="material-icons">delete</i><span>SUPPRIMER</span>
                </button>
            </div>
        </div>
        {{ include('account/pages/thing/appartement/_form.html.twig') }}

    {{ form_end(form) }}

    {{ include('account/pages/thing/appartement/_delete_form.html.twig') }}
    {# forms #}

{% endblock %}

{% block acc_js %} 
{{ parent() }}
<script>
    $(document).ready(function() {
        $('.acc-form .selectpicker').selectpicker({
            liveSearch: true,
        }).ajaxSelectPicker({
            ajax: {
                url: '{{ path("as_fbn", {"q": ""}) }}',
                type:'GET',
                dataType:'json',
                data: {
                  q: "{{select2params}}"
                }
            },
            preprocessData:function (data) {
                var i, l = data.length, array = [];
                if (l) {
                    for (i = 0; i < l; i++) {
                        array.push($.extend(true, data[i], {
                            text : data[i].name,
                            value: parseInt(data[i].key),
                            data : {
                                subtext: data[i].help
                            }
                        }));
                    }
                }
                return array;
            }
        });
    });
</script>
{{ encore_entry_script_tags('a2lixSfCollection') }}
{% endblock %}