<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Dimensions
                    <small>Veuillez renseigner les dimensions de votre propriété</small>
                </h2>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="checkbox" name="hasDimension" id="dimension_check" class="filled-in" {% if thing.dimension is defined and thing.dimension %} checked {% endif %}>
                        <label for="dimension_check">Préciser les dimensions de la propriété</label>
                    </div>
                </div>
                <div id="form-dimension" class="{% if thing.dimension is defined and not thing.dimension %} hidden {% endif %}">
                    {{ form_label(form.dimension.availableArea) }}
                    <div class="form-group">
                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="form-line">
                                {{ form_widget(form.dimension.availableArea, {'attr': {'class': 'form-control', 'data-rule': 'currency'}}) }}
                            </div>
                            <span class="input-group-addon">
                                <a href="javascript:;" class="spin-up" data-spin="up"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="javascript:;" class="spin-down" data-spin="down"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            </span>
                        </div>
                        <div class="help-info">{{ form_help(form.dimension.availableArea) }}</div>
                        {{ form_errors(form.dimension.availableArea) }}
                    </div>

                    {{ form_label(form.dimension.livingArea) }}
                    <div class="form-group">
                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="form-line">
                                {{ form_widget(form.dimension.livingArea, {'attr': {'class': 'form-control', 'data-rule': 'currency'}}) }}
                            </div>
                            <span class="input-group-addon">
                                <a href="javascript:;" class="spin-up" data-spin="up"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="javascript:;" class="spin-down" data-spin="down"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            </span>
                        </div>
                        <div class="help-info">{{ form_help(form.dimension.livingArea) }}</div>
                        {{ form_errors(form.dimension.livingArea) }}
                    </div>

                    {{ form_label(form.dimension.totalArea) }}
                    <div class="form-group">
                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="form-line">
                                {{ form_widget(form.dimension.totalArea, {'attr': {'class': 'form-control', 'data-rule': 'currency'}}) }}
                            </div>
                            <span class="input-group-addon">
                                <a href="javascript:;" class="spin-up" data-spin="up"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="javascript:;" class="spin-down" data-spin="down"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            </span>
                        </div>
                        <div class="help-info">{{ form_help(form.dimension.totalArea) }}</div>
                        {{ form_errors(form.dimension.totalArea) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>