<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Autres
                    <small>Précicez si votre propriétés dispose d'autres avantages</small>
                </h2>
            </div>
            <div class="body">
                {{ form_label(form.extraImmeubles) }}
                <div class="form-group">
                    <div class="form-line">
                        {{ form_widget(form.extraImmeubles, {'attr': {'class': 'form-control', 'multiple': 'multiple'}}) }}
                    </div>
                    <div class="help-info">{{ form_help(form.extraImmeubles) }}</div>
                    {{ form_errors(form.extraImmeubles) }}
                </div>
            </div>
        </div>
    </div>
</div>