<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Localisation
                    <small>Indiquez où se trouve votre propriété</small>
                </h2>
            </div>
            <div class="body">
                {{ form_label(form.localisation.place) }}
                <div class="form-group">
                    <div class="form-line">
                        {{ form_widget(form.localisation.place, {'attr': {'class': 'form-control ms app-s2 selectpicker'}}) }}
                    </div>
                    <div class="help-info">{{ form_help(form.localisation.place) }}</div>
                    {{ form_errors(form.localisation.place) }}
                </div>

                {{ form_label(form.localisation.comment) }}
                <div class="form-group">
                    <div class="form-line">
                        {{ form_widget(form.localisation.comment, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="help-info">{{ form_help(form.localisation.comment) }}</div>
                    {{ form_errors(form.localisation.comment) }}
                </div>
            </div>
        </div>
    </div>
</div>