<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Photos
                    <small>Ajoutez quelques belles photos pour présenter votre propriété</small>
                </h2>
            </div>
            <div class="body th-photos">
               {{ form_widget(form.piecesJointes) }}
               {{ form_errors(form.piecesJointes) }}
            </div>
        </div>
    </div>
</div>