<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Prix
                    <small>Indiquez le prix de votre propriété pour l'opération</small>
                </h2>
            </div>
            <div class="body">
                {{ form_label(form.price.amount) }}
                <div class="form-group">
                    <div class="input-group spinner" data-trigger="spinner">
                        <div class="form-line">
                            {{ form_widget(form.price.amount, {'attr': {'class': 'form-control', 'data-rule': 'currency', 'data-step': 1, 'data-precision': '0'}}) }}
                        </div>
                        <span class="input-group-addon">
                            <a href="javascript:;" class="spin-up" data-spin="up"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a href="javascript:;" class="spin-down" data-spin="down"><i class="glyphicon glyphicon-chevron-down"></i></a>
                        </span>
                    </div>
                    <div class="help-info">{{ form_help(form.price.amount) }}</div>
                    {{ form_errors(form.price.amount) }}
                </div>

                {{ form_label(form.price.comment) }}
                <div class="form-group">
                    <div class="form-line">
                        {{ form_widget(form.price.comment, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="help-info">{{ form_help(form.price.comment) }}</div>
                    {{ form_errors(form.price.comment) }}
                </div>
            </div>
        </div>
    </div>
</div>