{% extends 'account/pages/base_account_form.html.twig' %}

{% block title %}Edition Chambre{% endblock %}

{% block acc_header %}
    Editer une chambre
{% endblock %}

{% block acc_body %}
    {# forms #}
    {{ form_start(form, {'attr': {'id': 'acc-house-form', 'class': 'acc-form'}}) }}
        <div class="row acc-alert">
            <div class="col-xs-12 m-b-15 text-right">
                <button type="submit" class="btn btn-primary text-uppercase m-r-5">
                    <i class="material-icons">save</i><span>ENREGISTRER</span>
                </button>
                <a href="{{ path('annonce_chambre_new', {'id': thing.id}) }}" class="btn btn-primary m-r-5">
                    <i class="material-icons">add</i><span>CREER ANNONCE</span>
                </a>
                <a href="{{ path('my_things') }}" class="btn col-black m-r-5">
                    <i class="material-icons">list</i><span>AFFICHER LA LISTE</span>
                </a>
                <button type="button" class="btn col-black acc-btn-del" data-type="confirm">
                    <i class="material-icons">delete</i><span>SUPPRIMER</span>
                </button>
            </div>
        </div>
        {{ include('account/pages/thing/chambre/_form.html.twig') }}

    {{ form_end(form) }}

    {{ include('account/pages/thing/chambre/_delete_form.html.twig') }}
    {# forms #}

{% endblock %}