{# property specific infos #}
{% include 'account/pages/thing/chambre/specific_show.html.twig' with {'thing': thing} %}
{# end property specific infos #}

{# property localization #}
{% include 'account/fragments/show/location.html.twig' with {'thing': thing} %}
{# end property localization #}

{# property price #}
{% include 'account/fragments/show/price.html.twig' with {'thing': thing} %}
{# end property price #}

{# property photos #}
{% include 'account/fragments/show/photos.html.twig' with {'thing': thing} %}
{# end property photos #}

{# property dimensions #}
{% include 'account/fragments/show/dimension.html.twig' with {'thing': thing} %}
{# end property dimensions #}

{# property extras infos #}
{% include 'account/fragments/show/extra_logement.html.twig' with {'thing': thing} %}
{# end property extras infos #}