/* base */
.st-font { 
  font-family: 'hp-simplified-light', 'Roboto', 'sans-serif';
  letter-spacing: 2px;
}

.st-p-color { color: #c2185b !important; }

.st-p-color-l { color: #fa5788 !important; }

.st-p-color-d { color: #8c0032 !important; }

.st-p-bg-color { background-color: #c2185b !important; }

.st-p-bg-color-l { background-color: #fa5788 !important; }

.st-p-bg-color-d { background-color: #8c0032 !important; }

.st-s-color { color: #18ffff !important; }

.st-s-color-l { color: #76ffff !important; }

.st-s-color-d { color: #00cbcc !important; }

.st-s-bg-color { background-color: #18ffff !important; }

.st-s-bg-color-l { background-color: #76ffff !important; }

.st-s-bg-color-d { background-color: #00cbcc !important; }

.green-gradient{ background-image: linear-gradient(120deg, #d4fc79 0%, #169916 100%) }

.toggle.android { border-radius: 0px;}

.ad-author-img{ width: 80px; }

.acc-certified{ color: #03a9f4 !important; }

/* base */

/* fab */
.fab {
	background-color: transparent;
	height: 64px;
	width: 64px;
	border-radius: 32px;
	transition: height 300ms;
	transition-timing-function: ease;
	position: fixed;
	right: 30px;
	bottom: 30px;
	text-align: center;
	overflow: hidden;
	z-index: 10;
}

.fab:hover {
	height: 234px;
}

.fab:hover .mainop {
	transform: rotate(180deg);
	cursor: default;
}

.mainop {
	margin: auto;
	width: 64px;
	height: 64px;
	position: absolute;
	bottom: 0;
	right: 0;
	transition: transform 300ms;
	background-color: #f44336;
	border-radius: 32px;
	z-index: 6;
}

.mainopShadow {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.mainop i {
	margin-top: 16px;
	font-size: 32px;
	color: #fff;
}

.minifab {
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 24px;
	z-index: 5;
	float: left;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 8px;
	background-color: blue;
	transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.minifab:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	cursor: pointer;
}

.minifabIcon {
	height: 24px;
	width: 24px;
	margin-top: 12px;
}
/* fab */

/* forms */
.th-photos [type="checkbox"]:not(:checked), .th-photos [type="checkbox"]:checked{
	position: initial !important;
    opacity: 1 !important;
    margin-left: 5px;
}

.ad-formule .thumbnail img{ width: 100%; }
/* forms */

.profile-card .profile-body .image-area img{
	max-width: 128px;
	max-height: 128px;
}

.app-s2 .bs-searchbox input.form-control{
    margin-left: auto !important;
    padding-left: 45px !important;
}

@media(max-width: 780px){
	.acc-st-desc .mce-tinymce.mce-container.mce-panel{ margin-top: 85px; }
}