<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Informations sur l'annonce
                    <small>Détails des renseignements sur votre annonce</small>
                </h2>
            </div>
            <div class="body">
                <ul class="list-unstyled">
                    {% if annonce.name is defined and annonce.name %}
                    <li>Titre de l'annonce: {{ annonce.name }}<hr></li>
                    {% endif %}
                    {% if annonce.category is defined and annonce.category %}
                    <li>Catégorie: {{ annonce.category.name }}<hr></li>
                    {% endif %}
                    {% if annonce.formule is defined and annonce.formule %}
                    <li>Formule: {{ annonce.formule.name }}<hr></li>
                    {% endif %}
                    {% if annonce.state is defined and annonce.state %}
                    <li>Etat: <span class="text-capitalize">{{ annonce.state }}</span><hr></li>
                    {% endif %}
                    {% if annonce.formule is defined and annonce.formule %}
                    <li>Durée de base formule: {{ annonce.formule.duration }} jour(s)<hr></li>
                    {% endif %}
                    {% if annonce.duration is defined and annonce.duration %}
                    <li>Nombre de jours: {{ annonce.duration }}<hr></li>
                    {% endif %}
                    {% if annonce.amountDay is defined and annonce.amountDay %}
                    <li>Coût journalier: {{ annonce.amountDay|format_currency('XAF') }}<hr></li>
                    {% endif %}
                    {% if annonce.createDate is defined and annonce.createDate %}
                    <li>Date création: {{ thing.createDate? thing.createDate|date('d-m-Y H:i:s') : '' }}<hr></li>
                    {% endif %}
                    {% if annonce.publishDate is defined and annonce.publishDate %}
                    <li>Date de validation: {{ thing.publishDate? thing.publishDate|date('d-m-Y H:i:s') : '' }}<hr></li>
                    {% endif %}
                    {% if annonce.expireDate is defined and annonce.expireDate %}
                    <li>Date fin diffusion': {{ thing.expireDate? thing.expireDate|date('d-m-Y H:i:s') : '' }}<hr></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>