<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Dimensions
                    <small>Dimensions de votre propréité</small>
                </h2>
            </div>
            <div class="body">
                {% if thing.dimension is defined and thing.dimension %}
                    <ul class="list-unstyled">
                        <li>Espace disponible: {{ thing.dimension.availableArea }} m<sup>2</sup><hr></li>
                        <li>Espace occupable: {{ thing.dimension.livingArea }} m<sup>2</sup><hr></li>
                        <li>Espace total: {{ thing.dimension.totalArea }} m<sup>2</sup><hr></li>
                    </ul>
                {% else %}
                    <em>Vous n'avez défini aucune dimension pour cette propriété.</em>
                {% endif %}
            </div>
        </div>
    </div>
</div>