<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Autres
                    <small>Autres avantages liés à votre propriété</small>
                </h2>
            </div>
            <div class="body">
                {# extras #}
                {% if thing.extraTerrains is defined and thing.extraTerrains|length %}
                    Extras: 
                    {% for extra in thing.extraTerrains %} 
                    <li>
                        {{ extra.name }}
                    </li>
                    {% endfor %}<hr>
                {% else %}
                    <em>Votre propriété n'offre pas d'autres avantages.</em>
                {% endif %}
                {# extras #}
            </div>
        </div>
    </div>
</div>