<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Localisation
                    <small>Lieu où se trouve votre propriété</small>
                </h2>
            </div>
            <div class="body">
                <ul class="list-unstyled">
                    <li>Lieu: {{ thing.localisation.place }}<hr></li>
                    <li>Description de l'emplacement: <em>{{ thing.localisation.comment? thing.localisation.comment|raw : "Aucune description de l'emplacement renseignée."  }}</em><hr></li>
                </ul>
            </div>
        </div>
    </div>
</div>