<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for pj in thing.piecesJointes %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index }}" class="{% if loop.first %} active {% endif %}"></li>
        {% endfor %}
    </ol>


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for pj in thing.piecesJointes %}
        <div class="item {% if loop.first %} active {% endif %}">
            <img src="{{ vich_uploader_asset(pj, 'pjFile') }}" class="img-responsive" style="width: 250px; height: 250px" />
            <div class="carousel-caption">
                <p>{{ pj.name|slice(0, 50) }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Controls -->
    {% if thing.piecesJointes|length %}
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    {% else %}
        <em>Aucunes photos</em>
    {% endif %}
</div>