<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Photos de la publication
                    <small>Photos associées à votre propriété et présentées également aux visiteurs</small>
                </h2>
            </div>
            <div class="body">
                {% if thing.piecesJointes is defined and thing.piecesJointes|length %}
                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                    {% for pj in thing.piecesJointes %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="{{ vich_uploader_asset(pj, 'pjFile') }}" data-sub-html="{{ pj.name }}">
                                <img class="img-responsive thumbnail" src="{{ vich_uploader_asset(pj, 'pjFile') }}">
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <em>Vous n'avez défini aucunes photos pour cette propriété.</em>
                {% endif %}
            </div>
        </div>
    </div>
</div>