<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Prix
                    <small>Le prix de votre propriété pour l'opération ({{ thing.operation }})</small>
                </h2>
            </div>
            <div class="body">
                <ul class="list-unstyled">
                    <li>Montant: {{ thing.price.amount }} FCFA<hr></li>
                    <li>
                        Commentaires sur le prix: 
                        {% if thing.price.comment %} 
                            {{ thing.price.comment|raw }} 
                        {% else %}
                            <em>Vous n'avez défini aucuns termes pour la négociacion du prix de votre propriété.</em>
                        {% endif %}
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>