<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <title>{% block title %}Bilboule - Le juste choix{% endblock %}</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <!-- Google Fonts Roboto -->
        <!-- Google Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('addons/mdbootstrap/css/bootstrap.min.css') }}">
        <!-- Material Design Bootstrap -->
        <link rel="stylesheet" href="{{ asset('addons/mdbootstrap/css/mdb.min.css') }}">
        <link rel="stylesheet" href="{{ asset('addons/bootstrap-toggle/bootstrap4-toggle.min.css') }}">
        <link rel="stylesheet" href="{{ asset('addons/bootstrap-select/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ asset('addons/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('addons/swiper/swiper-bundle.min.css') }}">
        <link rel="stylesheet" href="{{ asset('addons/nouislider/nouislider.min.css') }}">

        {% block stylesheets %}{% endblock %}

        <!-- custom css -->
        <link type="text/css" rel="stylesheet" href="{{ asset('css/custom.css') }}"/>
    </head>
    <body id="app-body">
        <a id="st-sticky-scroll" class="py-2 px-3 st-p-bg-color-d position-fixed rounded"><i class="fas fa-arrow-up text-white"></i></a>


        {% block body %}{% endblock %}
        
        {# footer #}
        {{ include('public/fragments/footer.html.twig') }}
        {# end footer #}

          <!-- jQuery -->
        <script type="text/javascript" src="{{ asset('addons/mdbootstrap/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('addons/mdbootstrap/js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('addons/mdbootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('addons/mdbootstrap/js/mdb.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('addons/bootstrap-toggle/bootstrap4-toggle.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('addons/bootstrap-select/bootstrap-select.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('addons/select2/select2.min.js') }}"></script>
        <script src="{{ asset('addons/swiper/swiper-bundle.min.js') }}"></script>
        <script src="{{ asset('addons/nouislider/nouislider.min.js') }}"></script>
        <!-- custom js -->
        <script src="{{ asset('js/custom.js') }}" type="text/javascript"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
