<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %} Mon compte | Bilboule {% endblock %}</title>
    {# Favicon#}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {# Google Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    {# Bootstrap Core Css #}
    <link href="{{ asset('addons/account/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    {# Waves Effect Css #}
    <link href="{{ asset('addons/account/plugins/node-waves/waves.min.css') }}" rel="stylesheet" />

    {# Animation Css #}
    <link href="{{ asset('addons/account/plugins/animate-css/animate.min.css') }}" rel="stylesheet" />

    {% block acc_style %}

    {% endblock %}

    {# Custom Css #}
    <link href="{{ asset('addons/account/css/style.min.css?v=1.0.0') }}" rel="stylesheet">
    <link href="{{ asset('addons/account/css/custom.css') }}" rel="stylesheet">

    {# theme #}
    <link href="{{ asset('addons/account/css/themes/theme-light-blue.min.css') }}" rel="stylesheet" />
</head>

<body class="theme-light-blue">
    {# Page Loader #}
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Chargement...</p>
        </div>
    </div>
    {# #END# Page Loader #}
    {# Overlay For Sidebars #}
    <div class="overlay"></div>
    {# #END# Overlay For Sidebars #}
    {# Search Bar #}
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    {# #END# Search Bar #}
    {# top bar #}
        {{ include('account/fragments/nav_bar.html.twig') }}
    {# end top bar #}
 
    <section>
        {# left sidebar #}
            {{ include('account/fragments/left_sidebar.html.twig') }}
        {# end left sidebar #}

        {# right sidebar #}  
            {{ include('account/fragments/right_sidebar.html.twig') }}
        {# end right sidebar #}  
    </section>

    {# content #}
    <section class="content">
        <div class="container-fluid">
            <div class="my-3">
                {% block acc_msg %}
                    {% for message in app.session.flashbag.get('acc_warning_msg') %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                         </div>
                    {% endfor %}
                    {% for message in app.session.flashbag.get('acc_error_msg') %}
                        <div class="alert bg-red alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                        {% for message in app.session.flashbag.get('acc_teal_msg') %}
                        <div class="alert bg-teal alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.session.flashbag.get('acc_success_msg') %}
                        <div class="alert bg-green alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
            <div class="block-header">
                <h1>{% block acc_header %}{% endblock %}</h1>
            </div>

            <div class="row acc-alert">
                <div    class="col-xs-12 m-b-15 text-right">
                    {% block acc_body_actions %}
                    {% endblock %}
                </div>
            </div>
            
            {% block acc_body %}
            {% endblock %}

            {# FAB #}
                <div class="mainopShadow"></div>
                    <div class="fab">
                        <div class="mainop st-p-bg-color">
                            <i id="addIcon" class="material-icons">add</i>
                        </div>
                        <div id="forms" class="minifab bg-pink">
                            <a href="{{ path('my_things') }}">
                                <i id="addIcon" class="material-icons minifabIcon col-white">work</i>
                            </a>
                        </div>
                        <div id="sheets" class="minifab bg-indigo">
                            <i id="addIcon" class="material-icons minifabIcon col-white">mail</i>
                        </div>
                    </div>
                </div>
            {# FAB #}
        </div>
    </section>
    {# end content #}

    {# Jquery Core Js #}
    <script src="{{ asset('addons/account/plugins/jquery/jquery.min.js') }}"></script>

    {# Bootstrap Core Js #}
    <script src="{{ asset('addons/account/plugins/bootstrap/js/bootstrap.min.js') }}"></script>

    {# Slimscroll Plugin Js #}
    <script src="{{ asset('addons/account/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>

    {# Waves Effect Plugin Js #}
    <script src="{{ asset('addons/account/plugins/node-waves/waves.min.js') }}"></script>

    {% block acc_js %}

    {% endblock %}

    {# Custom Js #}
    <script src="{{ asset('addons/account/js/account.js') }}"></script>

    {# Demo Js #}
    <script src="{{ asset('addons/account/js/init.js') }}"></script>
</body>

</html>
