{% extends 'account/pages/base_account_show.html.twig' %}

{% block acc_msg %}
{{ parent() }}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Une fois publiée, votre annonce sera validée par notre équipe avant sa diffusion effective aux visiteurs de la plateforme et internautes.
</div>
{%  if annonce.state in ['DONE', 'PENDING'] %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        En cas de modifications, la diffusion de votre annonce sera temporairement suspendue, pour une validation.
</div>
{% endif %}
{% endblock %}

{# actions #}
{% block acc_body_actions %}
	{# Possibilité de publier si encore en à l'état brouillon #}
	{%  if annonce.state == 'DRAFT' %}
	<a href="{{ path('annonce_publish', {'id': annonce.id}) }}" class="acc-btn-pub-start btn btn-success m-r-5">
	    <i class="material-icons">done</i><span>PUBLIER</span>
	</a>
	{% endif %}

	{# Possibilité de dépublier si déjà validé ou publié #}
	{%  if annonce.state in ['DONE', 'PENDING'] %}
	<a href="{{ path('annonce_unpublish', {'id': annonce.id}) }}" class="acc-btn-pub-stop btn col-black m-r-5">
	    <i class="material-icons">stop</i><span>DEPUBLIER</span>
	</a>
	{% endif %}

	{% block acc_body_actions_plus %}
	{% endblock %}

	{# retour à la liste #}
	<a href="{{ path('annonce_index') }}" class="btn col-black m-r-5">
	    <i class="material-icons">list</i><span>LISTE DES ANNONCES</span>
	</a>
	{# retour à la liste #}

	{# supprimer #}
	<button type="button" class="btn acc-btn-del" data-type="confirm">
	    <i class="material-icons">delete</i><span>SUPPRIMER</span>
	</button>
	{# supprimer #}
{% endblock %}
{# actions #}