{% extends 'account/pages/base_account_index.html.twig' %}

{% block title %}Mes annonces{% endblock %}

{% block acc_body %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    MES ANNONCES
                    <small>Liste de toutes vos annonces</small>
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover {% if annonces|length %} acc-table {% endif %} dataTable">
                        <thead>
                            <tr>
                                <th data-orderable="false">Photos</th>
                                <th>Name</th>
                                <th>State</th>
                                <th>PublishDate</th>
                                <th>ExpireDate</th>
                                <th>Duration</th>
                                <th>CreateDate</th>
                                <th data-orderable="false"></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th data-orderable="false">Photos</th>
                                <th>Name</th>
                                <th>State</th>
                                <th>PublishDate</th>
                                <th>ExpireDate</th>
                                <th>Duration</th>
                                <th>CreateDate</th>
                                <th data-orderable="false"></th>
                            </tr>
                        </tfoot>
                        <tbody>
                        {% for annonce in annonces %}
                            <tr>
                                <td>
                                    {% if annonce.maison is defined %}
                                    {% include 'account/fragments/show/mini_slide.html.twig' with {'thing': annonce.maison} %}
                                    {% endif %}
                                    {% if annonce.appartement is defined %}
                                    {% include 'account/fragments/show/mini_slide.html.twig' with {'thing': annonce.appartement} %}
                                    {% endif %}
                                    {% if annonce.studio is defined %}
                                    {% include 'account/fragments/show/mini_slide.html.twig' with {'thing': annonce.studio} %}
                                    {% endif %}
                                    {% if annonce.chambre is defined %}
                                    {% include 'account/fragments/show/mini_slide.html.twig' with {'thing': annonce.chambre} %}
                                    {% endif %}
                                    {% if annonce.terrain is defined %}
                                    {% include 'account/fragments/show/mini_slide.html.twig' with {'thing': annonce.terrain} %}
                                    {% endif %}
                                    {% if annonce.immeuble is defined %}
                                    {% include 'account/fragments/show/mini_slide.html.twig' with {'thing': annonce.immeuble} %}
                                    {% endif %}
                                </td>
                                <td>{{ annonce.name }}</td>
                                <td>{{ annonce.state }}</td>
                                <td>{{ annonce.publishDate ? annonce.publishDate|date('d-m-Y H:i:s') : '' }}</td>
                                <td>{{ annonce.expireDate ? annonce.expireDate|date('d-m-Y H:i:s') : '' }}</td>
                                <td>{{ annonce.duration }}</td>
                                <td>{{ annonce.createDate ? annonce.createDate|date('d-m-Y H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path(annonce.showRoute, {'id': annonce.id}) }}">VOIR</a> | 
                                    <a href="{{ path(annonce.editRoute, {'id': annonce.id}) }}">MODIFIER</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
