<div role="tabpanel" class="tab-pane fade in active" id="profile_settings">
    {{ form_start(userForm, {'attr': {'id': 'acc-profile-form', 'class': 'acc-form form-horizontal'}}) }}
        {{ form_errors(userForm) }}
        <div class="form-group">
            {{ form_label(userForm.nom, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                <div class="form-line">
                    {{ form_widget(userForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom(s)', 'required': 'required'}}) }}
                </div>
                {{ form_errors(userForm.nom) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.secteurActivites, "Secteur(s) d'activité(s)", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                <div class="form-line">
                    {{ form_widget(userForm.secteurActivites, {'attr': {'class': 'form-control', 'placeholder': 'Secteur(s) d\'activité(s)'}}) }}
                </div>
                {{ form_errors(userForm.secteurActivites) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.email, "Email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                <div class="form-line">
                    {{ form_widget(userForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email', 'required': 'required'}}) }}
                </div>
                {{ form_errors(userForm.email) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.phone, "Téléphone", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                <div class="form-line">
                    {{ form_widget(userForm.phone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'}}) }}
                </div>
                {{ form_errors(userForm.phone) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.place, "Localisation", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                <div class="form-line">
                    {{ form_widget(userForm.place, {'attr': {'id': 'usr-place', 'class': 'form-control ms app-s2 selectpicker', 'value': ''}}) }}
                </div>
                {{ form_errors(userForm.place) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.presentation, "Présentation", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                <div class="form-line">
                    {{ form_widget(userForm.presentation, {'attr': {'class': 'form-control', 'placeholder': 'Présentation', 'rows': '5'}}) }}
                </div>
                {{ form_errors(userForm.presentation) }}
            </div>
        </div>
        {{ form_rest(userForm) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-lg btn-primary text-uppercase">Enregistrer</button>
            </div>
        </div>
    {{ form_end(userForm) }}
</div>
