<form method="post" action="{{ path('studio_delete', {'id': thing.id}) }}" class="acc-del-form">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ thing.id) }}">
</form>
