{% extends 'account/pages/base_account_index.html.twig' %}

{% block title %}Maisons - Villas, Duplex{% endblock %}

{% block acc_body %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    MAISONS - VILLAS - DUPLEX
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover {% if studios|length %} acc-table {% endif %} dataTable">
                        <thead>
                            <tr>
                                <th>Identifiant unique</th>
                                <th>Titre</th>
                                <th>Operation</th>
                                <th>Date disponibilite</th>
                                <th>Date création</th>
                                <th data-orderable="false"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for studio in studios %}
                            <tr>
                                <td>{{ studio.id }}</td>
                                <td>{{ studio.name }}</td>
                                <td>{{ studio.operation }}</td>
                                <td>{{ studio.dateDisponibilite ? studio.dateDisponibilite|date('Y-m-d') : '' }}</td>
                                <td>{{ studio.createDate ? studio.createDate|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path('studio_show', {'id': studio.id}) }}" class="m-r-4">
                                        VOIR
                                    </a>
                                    |
                                    <a href="{{ path('studio_edit', {'id': studio.id}) }}" class="m-r-4">
                                        MODIFIER
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="16">No records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
