<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Informations générales - studio
                    <small>Informations générales sur votre propriété</small>
                </h2>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_label(form.name) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.name) }}</div>
                            {{ form_errors(form.name) }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        {{ form_label(form.operation) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.operation, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.operation) }}</div>
                            {{ form_errors(form.operation) }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        {{ form_label(form.nbrSalon) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.nbrSalon, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.nbrSalon) }}</div>
                            {{ form_errors(form.nbrSalon) }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        {{ form_label(form.nbrCuisine) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.nbrCuisine, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.nbrCuisine) }}</div>
                            {{ form_errors(form.nbrCuisine) }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        {{ form_label(form.nbrSalleDeBain) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.nbrSalleDeBain, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.nbrSalleDeBain) }}</div>
                            {{ form_errors(form.nbrSalleDeBain) }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        {{ form_label(form.estModerne) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.estModerne, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.estModerne) }}</div>
                            {{ form_errors(form.estModerne) }}
                        </div>
                    </div>

                    <div class="col-xs-12">
                        {{ form_label(form.dateDisponibilite) }}
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.dateDisponibilite, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="help-info">{{ form_help(form.dateDisponibilite) }}</div>
                            {{ form_errors(form.dateDisponibilite) }}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="acc-st-desc">
                            {{ form_widget(form.description) }}
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>