<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Informations sur la propriété
                    <small>Informations générales sur votre propriété</small>
                </h2>
            </div>
            <div class="body">
                <ul class="list-unstyled">
                    {% if thing.name is defined and thing.name %}
                    <li>Propriété: {{ thing.name }}<hr></li>
                    {% endif %}
                    {% if thing.operation is defined and thing.operation %}
                    <li>Opération: <span class="text-capitalize">{{ thing.operation }}</span><hr></li>
                    {% endif %}
                    {# logements #}
                    {% if thing.nbrSalon is defined and thing.nbrSalon %}
                    <li>Nombre de salon: {{ thing.nbrSalon }}<hr></li>
                    {% endif %}
                    {% if thing.nbrCuisine is defined and thing.nbrCuisine %}
                    <li>Nombre de cuisine: {{ thing.nbrCuisine }}<hr></li>
                    {% endif %}
                    {% if thing.nbrSalleDeBain is defined and thing.nbrSalleDeBain %}
                    <li>Nombre de salle de bain: {{ thing.nbrSalleDeBain }}<hr></li>
                    {% endif %}
                    {% if thing.estModerne is defined and thing.estModerne %}
                    <li>Studio moderne?: {{ thing.estModerne? 'Oui' : 'Non' }}<hr></li>
                    {% endif %}
                    {# logements #}

                    {# general #}
                    {% if thing.dateDisponibilite is defined and thing.dateDisponibilite %}
                    <li>Date de disponibilité: {{ thing.dateDisponibilite? thing.dateDisponibilite|date('d-m-Y') : '' }}<hr></li>
                    {% endif %}
                    {% if thing.description is defined and thing.description %}
                    <li>Description: {{ thing.description|raw }}<hr></li>
                    {% endif %}
                    {# general #}
                </ul>
            </div>
        </div>
    </div>
</div>