<section id="st-main-ads">
  <div class="container">
    <h3 class="my-5 h3-responsive mb-3 ml-n3"><span class="st-p-bg-color px-4 py-3 text-uppercase white-text">{{ title|upper }}</span></h3>

    <div class="row">
      <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="st-ad swiper-slide col-xs-12 col-sm-6 col-md-4 col-lg-3 p-1">
              <!-- Card -->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h5 class="h5-responsive card-title text-truncate">Card titleext to build on</h4>

                  <ul class="list-group my-1">
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class='fas fa-home mr-2'></i> <strong> Maison</strong>
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class='fas fa-truck-moving mr-2'></i> Location
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-map-marker-alt mr-2"></i> <a href="#!">Yaoundé</a>
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-money-bill mr-2"></i> <strong>Prix: 80 000 FCFA</strong>
                    </li>                        
                  </ul>

                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <a href="{{ path('ad_detail') }}" class="btn st-s-bg-color btn-md w-100">Afficher</a>

                </div>

              </div>
              <!-- Card -->
            </div>
            <div class="st-ad swiper-slide col-xs-12 col-sm-6 col-md-4 col-lg-3 p-1">
              <!-- Card -->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h5 class="h5-responsive card-title text-truncate">Card title build on the card title and make up the bulk</h4>

                  <ul class="list-group my-1">
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class='fas fa-home mr-2'></i> <strong> Sudio</strong>
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class='fas fa-truck-moving mr-2'></i> Location
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-map-marker-alt mr-2"></i> <a href="#!">Douala</a>
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-money-bill mr-2"></i> <strong>Prix: 40 000 FCFA</strong>
                    </li>                        
                  </ul>

                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <a href="{{ path('ad_detail') }}" class="btn st-s-bg-color btn-md w-100">Afficher</a>

                </div>

              </div>
              <!-- Card -->
            </div>
            <div class="st-ad swiper-slide col-xs-12 col-sm-6 col-md-4 col-lg-3 p-1">
              <!-- Card -->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h5 class="h5-responsive card-title text-truncate">Card title</h4>

                  <ul class="list-group my-1">
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class='fas fa-door-open mr-2'></i> <strong> Chambre</strong>
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class='fas fa-truck-moving mr-2'></i> Location
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-map-marker-alt mr-2"></i> <a href="#!">Yaoundé</a>
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-money-bill mr-2"></i> <strong>Prix: 25 000 FCFA</strong>
                    </li>                        
                  </ul>

                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <a href="{{ path('ad_detail') }}" class="btn st-s-bg-color btn-md w-100">Afficher</a>

                </div>

              </div>
              <!-- Card -->
            </div>
            <div class="st-ad swiper-slide col-xs-12 col-sm-6 col-md-4 col-lg-3 p-1">
              <!-- Card -->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h5 class="h5-responsive card-title text-truncate">Card title example text to build on the card</h4>
                  
                  <ul class="list-group my-1">
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class='fas fa-door-open mr-2'></i> <strong> Appartement</strong>
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class='fas fa-truck-moving mr-2'></i> Location
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-map-marker-alt mr-2"></i> <a href="#!">Bafoussam</a>
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-money-bill mr-2"></i> <strong>Prix: 130 000 FCFA</strong>
                    </li>                        
                  </ul>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <a href="{{ path('ad_detail') }}" class="btn st-s-bg-color btn-md w-100">Afficher</a>

                </div>

              </div>
              <!-- Card -->
            </div>
            <div class="st-ad swiper-slide col-xs-12 col-sm-6 col-md-4 col-lg-3 p-1">
              <!-- Card -->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h5 class="h5-responsive card-title text-truncate">Card title to build on the card title and make up the bulk of the</h4>

                  <ul class="list-group my-1">
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class='fas fa-map-marked-alt mr-2'></i> <strong> Terrain</strong>
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-hand-holding-usd mr-2"></i> Vente
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-map-marker-alt mr-2"></i></i> <a href="#!">Bamenda</a>
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-money-bill mr-2"></i> <strong>Prix: 8 120 000 FCFA</strong>
                    </li>                        
                  </ul>

                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <a href="{{ path('ad_detail') }}" class="btn st-s-bg-color btn-md w-100">Afficher</a>

                </div>

              </div>
              <!-- Card -->
            </div>
            <div class="st-ad swiper-slide col-xs-12 col-sm-6 col-md-4 col-lg-3 p-1">
              <!-- Card -->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h5 class="h5-responsive card-title text-truncate">Card title</h5>

                  <ul class="list-group my-1">
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class='fas fa-building mr-2'></i> <strong> Immeuble</strong>
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-hand-holding-usd mr-2"></i> Vente
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-map-marker-alt mr-2"></i><a href="#!">Yaoundé</a>
                    </li>
                    <li class="list-group-item text-nowrap">
                      <div class="md-v-line"></div><i class="fas fa-money-bill mr-2"></i> <strong>Prix: 32 742 000 FCFA</strong>
                    </li>                        
                  </ul>

                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <a href="{{ path('ad_detail') }}" class="btn st-s-bg-color btn-md w-100">Afficher</a>

                </div>

              </div>
              <!-- Card -->
            </div>
            <div class="st-ad swiper-slide col-xs-12 col-sm-6 col-md-4 col-lg-3 p-1 d-flex align-items-center">
              <!-- Card -->
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Afficher plus</h5>
                  <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  <div class="text-center">
                    <a class="card-link align-middle btn st-s-bg-color my-2 waves-effect waves-light black-text">Afficher plus</a>
                    <a class="card-link align-middle my-2 mx-auto waves-effect waves-light text-uppercase">Creer une annonce</a>
                  </div>
                </div>
              </div>
              <!-- Card -->
            </div>
        </div>

        <div class="swiper-button-prev text-white"><i class="fas fa-arrow-alt-circle-left st-p-color-d"></i></div>
        <div class="swiper-button-next text-white"><i class="fas fa-arrow-alt-circle-right st-p-color-d"></i></div>
      </div>
    </div>

    <div class="row my-2">
      <a href="#!" class="btn waves-effect st-p-color">Afficher plus</a>
    </div>
  </div>
</section>