<!-- Footer -->
<footer class="page-footer font-small pt-4 grey darken-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            
            <!-- Grid column -->
            <div class="col-xs-12 text-center mb-3 m-auto footer-links">
                <!-- Links -->
                <a href="{{path('home') }}" class="st-f-link text-uppercase mx-2">Services</a>
                <a href="{{path('home') }}" class="st-f-link text-uppercase mx-2">Frequent updates</a>
                <a href="{{path('home') }}" class="st-f-link text-uppercase mx-2">Active community</a>
                <a href="{{path('home') }}" class="st-f-link text-uppercase mx-2">Flexbox</a>
                <a href="{{path('home') }}" class="st-f-link text-uppercase mx-2">Cross-browser compatibility</a>
                <a href="{{path('home') }}" class="st-f-link text-uppercase mx-2">Modularity</a>
                <a href="{{path('home') }}" class="st-f-link text-uppercase mx-2">Technical support</a>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 pb-3">    

        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    {# newsletter #}
    {{ include('public/fragments/newsletter.html.twig') }}
    {# newsletter #}
    <div class="container">
        <!-- Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div id="st-socials-links" class="col-md-12 py-3 text-center">
                <p class="mb-3 text-uppercase font-weight-light st-font">Retrouvez nous sur:</p>
                <div>
                    <!-- Facebook -->
                    <a title="START sur Facebook" class="btn-floating btn-lg mx-2 waves-effect z-depth-1 rounded-circle white st-p-color-d" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
                    <!-- Twitter -->
                    <a title="START sur Twitter" class="btn-floating btn-lg mx-2 waves-effect z-depth-1 rounded-circle white st-p-color-d" type="button" role="button"><i class="fab fa-twitter"></i></a>
                    <!--Instagram-->
                    <a title="START sur Instagram" class="btn-floating btn-lg mx-2 waves-effect z-depth-1 rounded-circle white st-p-color-d" type="button" role="button"><i class="fab fa-instagram"></i></a>
                    <!--WhatsApp-->
                    <a title="START sur WhatsApp" class="btn-floating btn-lg mx-2 waves-effect z-depth-1 rounded-circle white st-p-color-d" type="button" role="button"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
            <!-- Grid column -->
        </div>
    </div>
    <!-- Grid row-->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-4 st-p-bg-color-d">© 2020 Copyright:
        <a href="{{ path('home') }}"> Bingo</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->