<section id="st-last-ads" class="container">
  <h3 class="my-5 h3-responsive mb-3 ml-n3"><span class="st-p-bg-color px-4 py-3 text-uppercase white-text">Les dernières publications</span></h3>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="la-elt swiper-slide">
        <div class="row">
          <div class="la-img col-xs-12 col-sm-12 col-md-6">
            <img src="https://cdn.pixabay.com/photo/2020/02/28/09/32/hat-4886962_960_720.jpg" class="img-fluid">
          </div>
          <div class="la-desc col-xs-12 col-sm-12 col-md-6">
            <h4 class="h4-responsive card-title my-2">
              <strong>Card title quatur ducimus obcaecati numquam molest...</strong>
            </h4>

            <ul class="list-group my-1 list-unstyled">
              <li class="list-group-item text-nowrap border-0 p-1">
                <div class="md-v-line"></div><i class='fas fa-building mr-2'></i> <strong> Immeuble</strong>
              </li>
              <li class="list-group-item text-nowrap border-0 p-1">
                <div class="md-v-line"></div><i class="fas fa-hand-holding-usd mr-2"></i> Vente
              </li>
              <li class="list-group-item text-nowrap border-0 p-1">
                <div class="md-v-line"></div><i class="fas fa-map-marker-alt mr-2"></i><a href="#!">Yaoundé</a>
              </li>
              <li class="list-group-item text-nowrap border-0 p-1">
                <div class="md-v-line"></div><i class="fas fa-money-bill mr-2"></i> <strong>Prix: 32 742 000 FCFA</strong>
              </li>
            </ul>

            <p class="card-text mb-1">
                Lorem ipsum dolor sit amet, consectetur a molestias hic itaque accusantium doloremque laudantium, totam rem aperiam...
            </p>

            <hr class="my-1">

            <div class="row p-2">
                <a href="{{ path('ad_detail') }}" class="btn waves-effect st-cstm-btn mr-1"><i class="far fa-eye mr-1"></i> Afficher</a>
                <a title="Share" class="btn waves-effect st-cstm-btn"><i class="fas fa-share-alt mr-2"></i>Partager</a>
            </div>
          </div>
        </div>
      </div>
      <div class="la-elt swiper-slide">
        <div class="row">
          <div class="la-img col-xs-12 col-sm-12 col-md-6">
            <img src="https://cdn.pixabay.com/photo/2020/02/28/09/32/hat-4886962_960_720.jpg" class="img-fluid">
          </div>
          <div class="la-desc col-xs-12 col-sm-12 col-md-6">
            <h4 class="h4-responsive card-title my-2">
              <strong>Card title quatur ducimus obcaecati numquam molest...</strong>
            </h4>

            <ul class="list-group my-1 list-unstyled">
              <li class="list-group-item text-nowrap border-0 p-1">
                <div class="md-v-line"></div><i class='fas fa-building mr-2'></i> <strong> Immeuble</strong>
              </li>
              <li class="list-group-item text-nowrap border-0 p-1">
                <div class="md-v-line"></div><i class="fas fa-hand-holding-usd mr-2"></i> Vente
              </li>
              <li class="list-group-item text-nowrap border-0 p-1">
                <div class="md-v-line"></div><i class="fas fa-map-marker-alt mr-2"></i><a href="#!">Yaoundé</a>
              </li>
              <li class="list-group-item text-nowrap border-0 p-1">
                <div class="md-v-line"></div><i class="fas fa-money-bill mr-2"></i> <strong>Prix: 32 742 000 FCFA</strong>
              </li>
            </ul>

            <p class="card-text mb-1">
                Lorem ipsum dolor sit amet, consectetur a molestias hic itaque accusantium doloremque laudantium, totam rem aperiam...
            </p>

            <hr class="my-1">

            <div class="row p-2">
                <a href="{{ path('ad_detail') }}" class="btn waves-effect st-cstm-btn mr-1"><i class="far fa-eye mr-1"></i> Afficher</a>
                <a title="Share" class="btn waves-effect st-cstm-btn"><i class="fas fa-share-alt mr-2"></i>Partager</a>
            </div>
          </div>
        </div>
      </div>
      <div class="la-elt swiper-slide">
        <div class="row">
          <div class="la-img col-xs-12 col-sm-12 col-md-6">
            <img src="https://cdn.pixabay.com/photo/2020/02/28/09/32/hat-4886962_960_720.jpg" class="img-fluid">
          </div>
          <div class="la-desc col-xs-12 col-sm-12 col-md-6">
            <h4 class="h4-responsive card-title my-2">
              <strong>Card title quatur ducimus obcaecati numquam molest...</strong>
            </h4>

            <ul class="list-group my-1 list-unstyled">
              <li class="list-group-item text-nowrap border-0 p-1">
                <div class="md-v-line"></div><i class='fas fa-building mr-2'></i> <strong> Immeuble</strong>
              </li>
              <li class="list-group-item text-nowrap border-0 p-1">
                <div class="md-v-line"></div><i class="fas fa-hand-holding-usd mr-2"></i> Vente
              </li>
              <li class="list-group-item text-nowrap border-0 p-1">
                <div class="md-v-line"></div><i class="fas fa-map-marker-alt mr-2"></i><a href="#!">Yaoundé</a>
              </li>
              <li class="list-group-item text-nowrap border-0 p-1">
                <div class="md-v-line"></div><i class="fas fa-money-bill mr-2"></i> <strong>Prix: 32 742 000 FCFA</strong>
              </li>
            </ul>

            <p class="card-text mb-1">
                Lorem ipsum dolor sit amet, consectetur a molestias hic itaque accusantium doloremque laudantium, totam rem aperiam...
            </p>

            <hr class="my-1">

            <div class="row p-2">
                <a href="{{ path('ad_detail') }}" class="btn waves-effect st-cstm-btn mr-1"><i class="far fa-eye mr-1"></i> Afficher</a>
                <a title="Share" class="btn waves-effect st-cstm-btn"><i class="fas fa-share-alt mr-2"></i>Partager</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev text-white"><i class="fas fa-arrow-alt-circle-left st-p-color-d"></i></div>
    <div class="swiper-button-next text-white"><i class="fas fa-arrow-alt-circle-right st-p-color-d"></i></div>
  </div>
</section>