<nav class="py-2 {{ class is defined ? class : 'navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar' }}">
    <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="{{ path('home') }}">
      <img src="{{ asset('bilboule-logo.png') }}" alt="Logo Bilboule" title="Bilboule | Le juste choix" class="img-fluid">
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" target="_blank">Publier une annonce</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" target="_blank">Contact</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        {% if is_granted('IS_ANONYMOUS') %}
          <li class="nav-item">
            <a href="{{ path('app_login') }}" class="nav-link border border-light rounded">
              <i class="fas fa-sign-in-alt mr-2"></i></i>Mon compte
            </a>
          </li>
        {% endif %}
        {% if not is_granted('IS_ANONYMOUS') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="far fa-user"></i>
            {% if app.user.type == 'PARTICULIER' %}
              {{ app.user.prenom }} {{ app.user.nom }} 
            {% elseif app.user.type == 'ENTREPRISE' %}
              {{ app.user.nom }} 
            {% else %}
              {{ app.user.email }}
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ path('app_account') }}"><i class="fas fa-user"></i> Mon compte</a>
            <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt mr-2"></i> Déconnexion</a>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>