<!-- Newsletter -->
<div id="st-newsletter">
    <div class="container text-center my-2">
        <h4 class="h4-responsive text-uppercase font-weight-bold st-font mb-4 white-text">Notre newsletter</h4>
        <form id="form-newsletter">
            <div class="row d-flex justify-content-center">
                <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4 px-xs-1 p-sm-0">
                    <div class="md-form m-1">
                        <input type="email" id="form1" class="form-control validate white-text mb-3" required>
                        <label for="form1" data-error="wrong" data-success="right">adresse@mail.com</label>
                    </div>          
                </div>
                <div class="col-xs-12 col-md-3 col-sm-4 col-lg-2 p-0">
                    <button type="submit" class="btn st-cstm-btn m-0 waves-effect waves-light"><i class="fas fa-envelope"></i> Souscrire</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Newsletter -->