<div id="st-search-container" class="m-auto">
   <div class="container-fluid px-0">
      <div class="mask pattern-0 flex-center">
         <form id="st-search-form-max" class="st-search-form text-center p-4" action="#!">
          <p class="h4 mb-4">Que recherchez-vous?</p>
          <div class="row">
            <div class="col-xs-12 col-md-6 px-1 my-1">
              <input 
                type="checkbox" 
                checked 
                data-toggle="toggle" 
                data-on="<i class='fas fa-truck-moving mr-2'></i> Louer"
                data-off="<i class='fas fa-money-bill mr-2'></i> Acheter"
                data-onstyle=" st-s-bg-color-l black-text" data-style="android">
            </div>
            <div class="col-xs-12 col-md-6 px-1 my-1">
              <select class="selectpicker show-tick selectbox">
                <option data-icon="fas fa-home">Maison / Villa / Duplex</option>
                <option data-icon="fas fa-home">Appartement</option>
                <option data-icon="fas fa-door-open">Studio</option>
                <option data-icon="fas fa-bed">Chambre</option>
                <option data-icon="fas fa-map-marked-alt">Terrain</option>
                <option data-icon="fas fa-building">Immeuble</option>
              </select>
            </div>
          </div>
          <div id="st-cstm-select-search-container" class="row my-1">
            <select id="st-cstm-select-search" name="state" data-placeholder="Saisissez une ville ou un lieu" data-width="100%">
              <option value=""></option>
              <option value="AL">Yaoundé</option>
              <option value="LA">Douala</option>
              <option value="WY">Bertoua</option>
              <option value="JO">Bamenda</option>
              <option value="FS">Bafoussam</option>
            </select>
          </div>
          <div class="row">
            <button class="btn st-s-bg-color black-text btn-block my-1 ml-3 mr-1" type="submit"><i class="fas fa-search mr-1"></i> Rechercher</button>                
          </div>
        </form>
      </div>
  </div>
</div>