<div id="st-min-search-container" class="mx-auto">
   <div class="container">
      <div class="flex-center">
         <form id="st-search-form-min" class="st-search-form text-center" action="#!">
          <h3 class="my-4 h3-responsive st-p-color text-uppercase">Rechercher</h3>
          <div class="row px-1 my-1">
              <input 
                type="checkbox" 
                checked 
                data-toggle="toggle" 
                data-on="<i class='fas fa-truck-moving mr-2'></i> Louer"
                data-off="<i class='fas fa-money-bill mr-2'></i> Acheter"
                data-onstyle=" st-s-bg-color-l black-text" data-style="android">
            </div>
            <div class="row px-1 my-3">
              <select class="selectpicker show-tick selectbox">
                <option data-icon="fas fa-home">Maison / Villa / Duplex</option>
                <option data-icon="fas fa-home">Appartement</option>
                <option data-icon="fas fa-door-open">Studio</option>
                <option data-icon="fas fa-bed">Chambre</option>
                <option data-icon="fas fa-map-marked-alt">Terrain</option>
                <option data-icon="fas fa-building">Immeuble</option>
              </select>
            </div>
          <div id="st-cstm-select-search-container" class="row my-1">
            <select id="st-cstm-select-search" name="state" data-placeholder="Saisissez une ville ou un lieu" data-width="100%">
              <option value=""></option>
              <option value="AL">Yaoundé</option>
              <option value="LA">Douala</option>
              <option value="WY">Bertoua</option>
              <option value="JO">Bamenda</option>
              <option value="FS">Bafoussam</option>
            </select>
          </div>
          <div class="row white-text text-center pl-2">
            <a href="#" class="btn text-decoration-none white black-text py-3 px-5 w-100">Afficher les 32 résultats</a>
          </div>
          

          <!-- Sign in button -->
          <div class="row">
            <button class="btn st-s-bg-color black-text btn-block my-1 ml-3 mr-1" type="submit">Rechercher</button>                
          </div>
          <div class="mt-4 text-center">
            <p class="h4-responsive black-text">
              Vous êtes propriétaire et souhaitez publier une annonce?
            </p>
            <a href="#" class="btn text-decoration-none st-s-bg-color black-text p-3 my-4">Publier une annonce</a>
          </div>
        </form>
      </div>
  </div>
</div>